<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.activiti.mapper.OgPhoneMapper">

    <resultMap type="TelBiz" id="TelBizResult">
        <result property="telid"    column="telid"    />
        <result property="telno"    column="telno"    />
        <result property="istransfer"    column="istransfer"    />
        <result property="contactOrg"    column="contact_org"    />
        <result property="sysId"    column="sys_id"    />
        <result property="telType"    column="tel_type"    />
        <result property="content"    column="content"    />
        <result property="createId"    column="create_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="createOrg"    column="create_org"    />
        <result property="contactName"    column="contact_name"    />
        <result property="contactPhone"    column="contact_phone"    />
        <result property="invalidationMark"    column="invalidation_mark"    />
        <result property="faultNo"    column="fault_no"    />
        <result property="state"    column="state"    />
        <result property="closeTime"    column="close_time"    />
        <result property="eventType"    column="event_type"    />
        <result property="isSolve"    column="is_solve"    />
        <result property="groupNo"    column="group_no"    />
        <result property="overFlowGroup"    column="over_flow_group"    />
        <result property="overFlowTime"    column="over_flow_time"    />
        <result property="closeOption"    column="close_option"    />
        <result property="startTime" column="START_TIME"/>
        <result property="orgName" column="ORG_NAME"/>
        <result property="caption" column="caption"/>
        <result column="t1" property="t1"/>
        <result column="t2" property="t2"/>
        <result column="t3" property="t3"/>
        <result column="t4" property="t4"/>
        <result column="t5" property="t5"/>
        <result column="t6" property="t6"/>
        <result column="t7" property="t7"/>
        <result column="t8" property="t8"/>
        <result column="t9" property="t9"/>
        <result column="t10" property="t10"/>
        <result column="t11" property="t11"/>
        <result column="t12" property="t12"/>
        <result column="t13" property="t13"/>
        <result column="t14" property="t14"/>
        <result column="t15" property="t15"/>
        <result column="t16" property="t16"/>
        <result column="paraName" property="paraName"/>

        <!--创建人名称-->
        <result property="createName" column="createName"></result>

        <result property="pName" column="PNAME"/>

    </resultMap>

    <resultMap type="FmBiz" id="FmBizResult">
        <result property="auditorId"    column="auditor_id"    />
        <result property="occurrenceOrgId"    column="occurrence_org_id"    />
        <result property="evaluaterId"    column="evaluater_id"    />
        <result property="faultNo"    column="fault_no"    />
        <result property="faultSource"    column="fault_source"    />
        <result property="seriousLev"    column="serious_lev"    />
        <result property="occurrenceAddress"    column="occurrence_address"    />
        <result property="occurTime"    column="occur_time"    />
        <result property="faultReportName"    column="fault_report_name"    />
        <result property="reportTime"    column="report_time"    />
        <result property="reportPhone"    column="report_phone"    />
        <result property="faultContactName"    column="fault_contact_name"    />
        <result property="contactPhone"    column="contact_phone"    />
        <result property="contactAddress"    column="contact_address"    />
        <result property="serialNumber"    column="serial_number"    />
        <result property="tradingName"    column="trading_name"    />
        <result property="errorInformation"    column="error_information"    />
        <result property="faultDecriptSummary"    column="fault_decript_summary"    />
        <result property="faultDecriptDetail"    column="fault_decript_detail"    />
        <result property="creatTime"    column="creat_time"    />
        <result property="dealTime"    column="deal_time"    />
        <result property="dealDescription"    column="deal_description"    />
        <result property="evaluate"    column="evaluate"    />
        <result property="evaluateTime"    column="evaluate_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="currentState"    column="current_state"    />
        <result property="auditStatus"    column="audit_status"    />
        <result property="auditTime"    column="audit_time"    />
        <result property="n3"    column="n3"    />
        <result property="n2"    column="n2"    />
        <result property="n4"    column="n4"    />
        <result property="n1"    column="n1"    />
        <result property="n5"    column="n5"    />
        <result property="dealUseTime"    column="deal_use_time"    />
        <result property="involveAmount"    column="involve_amount"    />
        <result property="involveScount"    column="involve_scount"    />
        <result property="customerName"    column="customer_name"    />
        <result property="customerIdcard"    column="customer_idcard"    />
        <result property="transactionAccount"    column="transaction_account"    />
        <result property="transactionAmount"    column="transaction_amount"    />
        <result property="orderNumber"    column="order_number"    />
        <result property="evaluateResult"    column="evaluate_result"    />
        <result property="fmCause"    column="fm_cause"    />
        <result property="fmJkmark"    column="fm_jkmark"    />
        <result property="participatorIds"    column="participator_ids"    />
        <result property="dealMode"    column="deal_mode"    />
        <result property="participateGroupids"    column="participate_groupids"    />
        <result property="toQgzxTime"    column="to_qgzx_time"    />
        <result property="backSzxTime"    column="back_szx_time"    />
        <result property="repeatMark"    column="repeat_mark"    />
        <result property="receiverIds"    column="receiver_ids"    />
        <result property="invalidationMark"    column="invalidation_mark"    />
        <result property="ifJj"    column="if_jj"    />
        <result property="ifBulletion"    column="if_bulletion"    />
        <result property="bullCause"    column="bull_cause"    />
        <result property="bullTime"    column="bull_time"    />
        <result property="isAntiFraud"    column="is_anti_fraud"    />
        <result property="isSend"    column="is_send"    />
        <result property="fmId"    column="fm_id"    />
        <result property="createId"    column="create_id"    />
        <result property="createOrgId"    column="create_org_id"    />
        <result property="groupId"    column="group_id"    />
        <result property="dealerId"    column="dealer_id"    />
        <result property="dealGroupId"    column="deal_group_id"    />
        <result property="typeinfoId"    column="typeinfo_id"    />
        <result property="sysid"    column="sysid"    />
        <result property="fmTypeId"   column="fm_type_id"    />
        <association property="ogSys"  column="sysid" javaType="OgSys" resultMap="OgSysResult" />
        <association property="ogPerson"            column="pid" javaType="OgPerson" resultMap="OgPersonResult" />
    </resultMap>

    <resultMap type="OgSys" id="OgSysResult">
        <id property="sysId" column="sysId"/>
        <result property="orgId" column="orgId"/>
        <result property="code" column="code"/>
        <result property="caption" column="caption"/>
        <result property="memo" column="memo"/>
        <result property="invalidationMark" column="invalidation_Mark"/>
        <result property="isExamination" column="isExamination"/>
        <result property="dept" column="dept"/>
        <result property="pid" column="pid"/>
        <result property="businessId" column="businessId"/>
        <result property="isKeySys" column="is_Key_Sys"/>
        <result property="sysType" column="sys_Type"/>
    </resultMap>

    <!--/*select telid, telno, START_TIME , istransfer, contact_org, sys_id, tel_type, content, create_id, create_time, create_org, contact_name, contact_phone,
         invalidation_mark, fault_no, state, close_time, event_type, is_solve, group_no, over_flow_group, over_flow_time, close_option from tel_biz*/-->

    <sql id="selectPhoneVo">
        SELECT
        DISTINCT
            t.telid,
            t.telno,
            t.START_TIME,
            t.istransfer,
            t.contact_org,
            t.sys_id,
            t.tel_type,
            t.CONTENT,
            t.create_id,
            t.create_time,
            t.create_org,
            t.contact_name,
            t.contact_phone,
            t.invalidation_mark,
            t.fault_no,
            t.state,
            t.close_time,
            t.event_type,
            t.is_solve,
            t.group_no,
            t.over_flow_group,
            t.over_flow_time,
            t.close_option,
            s.CAPTION,
            p.pName
        FROM
            TEL_BIZ t
        LEFT JOIN OG_SYS s ON s.SYSID = t.SYS_ID
        left join og_person p on p.pid = t.create_id
        left join tel_flow_log f on f.tel_id = t.telid
    </sql>

    <!--<select id="selectOgPerson" parameterType="String" resultMap="OgPersonResult">
        SELECT pname FROM OG_person where pid= #{createId}
    </select>-->

    <select id="selectPhoneDeptNameList" parameterType="TelBiz" resultMap="TelBizResult">
        select value_detail ORG_NAME,
        t1,t2,t3,t4,t5,t6,t7,t8,t9,t10,t11,t12,t13,t14,t15,
        sum(t1 + t2 + t3 + t4 + t5 + t6 + t7 + t8 + t9 + t10 + t11 + t12 + t13 + t14 + t15) t16
        from (select p2.value_detail,
        nvl(sum(decode(t1.tel_type, '01', '1')), 0) t1,
        nvl(sum(decode(t1.tel_type, '02', '1')), 0) t2,
        nvl(sum(decode(t1.tel_type, '03', '1')), 0) t3,
        nvl(sum(decode(t1.tel_type, '04', '1')), 0) t4,
        nvl(sum(decode(t1.tel_type, '05', '1')), 0) t5,
        nvl(sum(decode(t1.tel_type, '06', '1')), 0) t6,
        nvl(sum(decode(t1.tel_type, '07', '1')), 0) t7,
        nvl(sum(decode(t1.tel_type, '08', '1')), 0) t8,
        nvl(sum(decode(t1.tel_type, '09', '1')), 0) t9,
        nvl(sum(decode(t1.tel_type, '10', '1')), 0) t10,
        nvl(sum(decode(t1.tel_type, '11', '1')), 0) t11,
        nvl(sum(decode(t1.tel_type, '12', '1')), 0) t12,
        nvl(sum(decode(t1.tel_type, '13', '1')), 0) t13,
        nvl(sum(decode(t1.tel_type, '14', '1')), 0) t14,
        nvl(sum(decode(t1.tel_type, '15', '1')), 0) t15
        from pub_paravalue p2
        left join (select * from tel_biz t where t.state in ('2', '3')
        and t.create_time &gt; #{createTime,jdbcType=VARCHAR}
        and t.create_time &lt; #{startTimeBiz,jdbcType=VARCHAR}) t1
        on  p2.value = t1.CONTACT_ORG where p2.para_id = '4028df817215c97d017215d32fb60001'
        group by p2.value_detail)
        group by value_detail,
        t1,t2,t3,t4,t5,t6,t7,t8,t9,t10,t11,t12,t13,t14,t15
        order by t16 desc
    </select>
    <select id="selectPhoneDeptNameListMysql" parameterType="TelBiz" resultMap="TelBizResult">
        select value_detail ORG_NAME,
        t1,t2,t3,t4,t5,t6,t7,t8,t9,t10,t11,t12,t13,t14,t15,
        cast(sum(t1 + t2 + t3 + t4 + t5 + t6 + t7 + t8 + t9 + t10 + t11 + t12 + t13 + t14 + t15) as unsigned) t16
        from (select p2.value_detail,
        IFNULL(cast(sum(if(t1.tel_type='01', '1', null)) as unsigned), 0) t1,
        IFNULL(cast(sum(if(t1.tel_type='02', '1', null)) as unsigned), 0) t2,
        IFNULL(cast(sum(if(t1.tel_type='03', '1', null)) as unsigned), 0) t3,
        IFNULL(cast(sum(if(t1.tel_type='04', '1', null)) as unsigned), 0) t4,
        IFNULL(cast(sum(if(t1.tel_type='05', '1', null)) as unsigned), 0) t5,
        IFNULL(cast(sum(if(t1.tel_type='06', '1', null)) as unsigned), 0) t6,
        IFNULL(cast(sum(if(t1.tel_type='07', '1', null)) as unsigned), 0) t7,
        IFNULL(cast(sum(if(t1.tel_type='08', '1', null)) as unsigned), 0) t8,
        IFNULL(cast(sum(if(t1.tel_type='09', '1', null)) as unsigned), 0) t9,
        IFNULL(cast(sum(if(t1.tel_type='10', '1', null)) as unsigned), 0) t10,
        IFNULL(cast(sum(if(t1.tel_type='11', '1', null)) as unsigned), 0) t11,
        IFNULL(cast(sum(if(t1.tel_type='12', '1', null)) as unsigned), 0) t12,
        IFNULL(cast(sum(if(t1.tel_type='13', '1', null)) as unsigned), 0) t13,
        IFNULL(cast(sum(if(t1.tel_type='14', '1', null)) as unsigned), 0) t14,
        IFNULL(cast(sum(if(t1.tel_type='15', '1', null)) as unsigned), 0) t15
        from pub_paravalue p2
        left join (select * from tel_biz t where t.state in ('2', '3')
        and t.create_time &gt; #{createTime,jdbcType=VARCHAR}
        and t.create_time &lt; #{startTimeBiz,jdbcType=VARCHAR}) t1
        on  p2.value = t1.CONTACT_ORG where p2.para_id = '4028df817215c97d017215d32fb60001'
        group by p2.value_detail) yyds
        group by value_detail,
        t1,t2,t3,t4,t5,t6,t7,t8,t9,t10,t11,t12,t13,t14,t15
        order by t16 desc
    </select>

    <select id="selectPhoneSysIdList" parameterType="TelBiz" resultMap="TelBizResult">
        select ORG_NAME,caption,sum(t1) t1,
        sum(t2) t2,       sum(t3) t3,       sum(t4) t4,
        sum(t5) t5,     sum(t6) t6,       sum(t7) t7,
        sum(t8) t8,       sum(t9) t9,       sum(t10) t10,
        sum(t11) t11,       sum(t12) t12,       sum(t13) t13,
        sum(t14) t14,       sum(t15) t15,       sum(t16) t16
        from (select ORG_NAME,caption,t1,t2,t3,t4,t5,t6,t7,t8,t9,t10,t11,t12,t13,t14,t15,
        sum(t1 + t2 + t3 + t4 + t5 + t6 + t7 + t8 + t9 + t10 + t11 + t12 + t13 + t14 + t15) t16
        from (select value_detail ORG_NAME,os.caption caption,
        nvl(sum(decode(t1.tel_type, '01', '1')), 0) t1,
        nvl(sum(decode(t1.tel_type, '02', '1')), 0) t2,
        nvl(sum(decode(t1.tel_type, '03', '1')), 0) t3,
        nvl(sum(decode(t1.tel_type, '04', '1')), 0) t4,
        nvl(sum(decode(t1.tel_type, '05', '1')), 0) t5,
        nvl(sum(decode(t1.tel_type, '06', '1')), 0) t6,
        nvl(sum(decode(t1.tel_type, '07', '1')), 0) t7,
        nvl(sum(decode(t1.tel_type, '08', '1')), 0) t8,
        nvl(sum(decode(t1.tel_type, '09', '1')), 0) t9,
        nvl(sum(decode(t1.tel_type, '10', '1')), 0) t10,
        nvl(sum(decode(t1.tel_type, '11', '1')), 0) t11,
        nvl(sum(decode(t1.tel_type, '12', '1')), 0) t12,
        nvl(sum(decode(t1.tel_type, '13', '1')), 0) t13,
        nvl(sum(decode(t1.tel_type, '14', '1')), 0) t14,
        nvl(sum(decode(t1.tel_type, '15', '1')), 0) t15
        from og_sys os left join (select * from tel_biz t, pub_paravalue p2 where t.state in ('2', '3')
        and p2.para_id ='4028df817215c97d017215d32fb60001'
        and p2.value = t.CONTACT_ORG
        and t.create_time &gt; #{createTime,jdbcType=VARCHAR}
        and t.create_time &lt; #{startTimeBiz,jdbcType=VARCHAR}) t1
        on os.sysid = t1.sys_id
        group by t1.value_detail, os.caption) ru
        where ru.ORG_NAME is not null group by ORG_NAME,
        caption,t1,t2,t3,t4,t5,t6,t7,t8,t9,t10,t11,t12,t13,t14,t15)
        group by ORG_NAME, caption order by 1, t16 desc
    </select>
    <select id="selectPhoneSysIdListMysql" parameterType="TelBiz" resultMap="TelBizResult">
        select ORG_NAME,caption,cast(sum(t1) as unsigned) t1,
        cast(sum(t2) as unsigned)t2,       cast(sum(t3) as unsigned) t3,       cast(sum(t4) as unsigned) t4,
        cast(sum(t5) as unsigned) t5,     cast(sum(t6) as unsigned) t6,       cast(sum(t7) as unsigned) t7,
        cast(sum(t8) as unsigned) t8,       cast(sum(t9) as unsigned) t9,       cast(sum(t10) as unsigned) t10,
        cast(sum(t11) as unsigned) t11,       cast(sum(t12) as unsigned) t12,       cast(sum(t13) as unsigned) t13,
        cast(sum(t14) as unsigned) t14,       cast(sum(t15) as unsigned) t15,       cast(sum(t16) as unsigned) t16
        from (select ORG_NAME,caption,t1,t2,t3,t4,t5,t6,t7,t8,t9,t10,t11,t12,t13,t14,t15,
        cast(sum(t1 + t2 + t3 + t4 + t5 + t6 + t7 + t8 + t9 + t10 + t11 + t12 + t13 + t14 + t15) as unsigned) t16
        from (select value_detail ORG_NAME,os.caption caption,
        IFNULL(cast(sum(if(t1.tel_type='01', '1', null)) as unsigned), 0) t1,
        IFNULL(cast(sum(if(t1.tel_type='02', '1', null)) as unsigned), 0) t2,
        IFNULL(cast(sum(if(t1.tel_type='03', '1', null)) as unsigned), 0) t3,
        IFNULL(cast(sum(if(t1.tel_type='04', '1', null)) as unsigned), 0) t4,
        IFNULL(cast(sum(if(t1.tel_type='05', '1', null)) as unsigned), 0) t5,
        IFNULL(cast(sum(if(t1.tel_type='06', '1', null)) as unsigned), 0) t6,
        IFNULL(cast(sum(if(t1.tel_type='07', '1', null)) as unsigned), 0) t7,
        IFNULL(cast(sum(if(t1.tel_type='08', '1', null)) as unsigned), 0) t8,
        IFNULL(cast(sum(if(t1.tel_type='09', '1', null)) as unsigned), 0) t9,
        IFNULL(cast(sum(if(t1.tel_type='10', '1', null)) as unsigned), 0) t10,
        IFNULL(cast(sum(if(t1.tel_type='11', '1', null)) as unsigned), 0) t11,
        IFNULL(cast(sum(if(t1.tel_type='12', '1', null)) as unsigned), 0) t12,
        IFNULL(cast(sum(if(t1.tel_type='13', '1', null)) as unsigned), 0) t13,
        IFNULL(cast(sum(if(t1.tel_type='14', '1', null)) as unsigned), 0) t14,
        IFNULL(cast(sum(if(t1.tel_type='15', '1', null)) as unsigned), 0) t15
        from og_sys os left join (select * from tel_biz t, pub_paravalue p2 where t.state in ('2', '3')
        and p2.para_id ='4028df817215c97d017215d32fb60001'
        and p2.value = t.CONTACT_ORG
        and t.create_time &gt; #{createTime,jdbcType=VARCHAR}
        and t.create_time &lt; #{startTimeBiz,jdbcType=VARCHAR}) t1
        on os.sysid = t1.sys_id
        group by t1.value_detail, os.caption) ru
        where ru.ORG_NAME is not null group by ORG_NAME,
        caption,t1,t2,t3,t4,t5,t6,t7,t8,t9,t10,t11,t12,t13,t14,t15) yyds
        group by ORG_NAME, caption order by 1, t16 desc
    </select>

    <select id="selectPhoneDeptNameAndSysIdList" parameterType="TelBiz" resultMap="TelBizResult">
        select caption,
        t1,t2,t3,t4,t5,t6,t7,t8,t9,t10,t11,t12,t13,t14,t15,
        sum(t1 + t2 + t3 + t4 + t5 + t6 + t7 + t8 + t9 + t10 + t11 + t12 + t13 + t14 + t15) t16
        from (select so.caption,
        nvl(sum(decode(t1.tel_type, '01', '1')), 0) t1,
        nvl(sum(decode(t1.tel_type, '02', '1')), 0) t2,
        nvl(sum(decode(t1.tel_type, '03', '1')), 0) t3,
        nvl(sum(decode(t1.tel_type, '04', '1')), 0) t4,
        nvl(sum(decode(t1.tel_type, '05', '1')), 0) t5,
        nvl(sum(decode(t1.tel_type, '06', '1')), 0) t6,
        nvl(sum(decode(t1.tel_type, '07', '1')), 0) t7,
        nvl(sum(decode(t1.tel_type, '08', '1')), 0) t8,
        nvl(sum(decode(t1.tel_type, '09', '1')), 0) t9,
        nvl(sum(decode(t1.tel_type, '10', '1')), 0) t10,
        nvl(sum(decode(t1.tel_type, '11', '1')), 0) t11,
        nvl(sum(decode(t1.tel_type, '12', '1')), 0) t12,
        nvl(sum(decode(t1.tel_type, '13', '1')), 0) t13,
        nvl(sum(decode(t1.tel_type, '14', '1')), 0) t14,
        nvl(sum(decode(t1.tel_type, '15', '1')), 0) t15
        from og_sys so
        left join (select * from tel_biz t where t.state in ('2', '3')
        and t.create_time &gt; #{createTime,jdbcType=VARCHAR}
        and t.create_time &lt; #{startTimeBiz,jdbcType=VARCHAR}) t1
        on so.sysid = t1.sys_id
        group by so.caption)
        group by caption,
        t1,t2,t3,t4,t5,t6,t7,t8,t9,t10,t11,t12,t13,t14,t15
        order by t16 desc
    </select>
    <select id="selectPhoneDeptNameAndSysIdListMysql" parameterType="TelBiz" resultMap="TelBizResult">
        select caption,
        t1,t2,t3,t4,t5,t6,t7,t8,t9,t10,t11,t12,t13,t14,t15,
        cast(sum(t1 + t2 + t3 + t4 + t5 + t6 + t7 + t8 + t9 + t10 + t11 + t12 + t13 + t14 + t15) as unsigned) t16
        from (select so.caption,
        IFNULL(cast(sum(if(t1.tel_type='01', '1', null)) as unsigned), 0) t1,
        IFNULL(cast(sum(if(t1.tel_type='02', '1', null)) as unsigned), 0) t2,
        IFNULL(cast(sum(if(t1.tel_type='03', '1', null)) as unsigned), 0) t3,
        IFNULL(cast(sum(if(t1.tel_type='04', '1', null)) as unsigned), 0) t4,
        IFNULL(cast(sum(if(t1.tel_type='05', '1', null)) as unsigned), 0) t5,
        IFNULL(cast(sum(if(t1.tel_type='06', '1', null)) as unsigned), 0) t6,
        IFNULL(cast(sum(if(t1.tel_type='07', '1', null)) as unsigned), 0) t7,
        IFNULL(cast(sum(if(t1.tel_type='08', '1', null)) as unsigned), 0) t8,
        IFNULL(cast(sum(if(t1.tel_type='09', '1', null)) as unsigned), 0) t9,
        IFNULL(cast(sum(if(t1.tel_type='10', '1', null)) as unsigned), 0) t10,
        IFNULL(cast(sum(if(t1.tel_type='11', '1', null)) as unsigned), 0) t11,
        IFNULL(cast(sum(if(t1.tel_type='12', '1', null)) as unsigned), 0) t12,
        IFNULL(cast(sum(if(t1.tel_type='13', '1', null)) as unsigned), 0) t13,
        IFNULL(cast(sum(if(t1.tel_type='14', '1', null)) as unsigned), 0) t14,
        IFNULL(cast(sum(if(t1.tel_type='15', '1', null)) as unsigned), 0) t15
        from og_sys so
        left join (select * from tel_biz t where t.state in ('2', '3')
        and t.create_time &gt; #{createTime,jdbcType=VARCHAR}
        and t.create_time &lt; #{startTimeBiz,jdbcType=VARCHAR}) t1
        on so.sysid = t1.sys_id
        group by so.caption) yyds
        group by caption,
        t1,t2,t3,t4,t5,t6,t7,t8,t9,t10,t11,t12,t13,t14,t15
        order by t16 desc
    </select>

    <select id="selectPhoneList" parameterType="TelBiz" resultMap="TelBizResult">
        <include refid="selectPhoneVo"/>
        <where>
            <if test="telid != null  and telid != ''"> and telid =#{telid}</if>
            <if test="telno != null  and telno != ''"> and telno like concat(concat('%', #{telno}), '%')</if>
            <if test="istransfer != null  and istransfer != ''"> and istransfer =#{istransfer}</if>
            <if test="contactOrg != null  and contactOrg != ''"> and contact_org =#{contactOrg}</if>
            <if test="sysId != null  and sysId != ''"> and sys_id =#{sysId}</if>

            <if test="caption != null  and caption != ''"> and caption like concat(concat('%', #{caption}), '%')</if>

            <if test="content != null  and content != ''"> and content =#{content}</if>
            <if test="createId != null  and createId != ''"> and create_id =#{createId}</if>
            <if test="createOrg != null  and createOrg != ''"> and create_org =#{createOrg}</if>
            <if test="contactName != null  and contactName != ''"> and contact_name like concat(concat('%', #{contactName}), '%')</if>
            <if test="contactPhone != null  and contactPhone != ''"> and contact_phone like concat(concat('%', #{contactPhone}), '%')</if>
            <if test="invalidationMark != null  and invalidationMark != ''"> and invalidation_mark =#{invalidationMark}</if>
            <if test="faultNo != null  and faultNo != ''"> and fault_no =#{faultNo}</if>
            <if test="state != null  and state != ''"> and t.state =#{state}</if>

            <if test="isSolve != null  and isSolve != ''"> and is_solve =#{isSolve}</if>
            <if test="groupNo != null  and groupNo != ''"> and group_no =#{groupNo}</if>
            <if test="overFlowGroup != null  and overFlowGroup != ''"> and over_flow_group like concat(concat('%', #{overFlowGroup}), '%')</if>
            <if test="overFlowTime != null  and overFlowTime != ''"> and over_flow_time =#{overFlowTime}</if>
            <if test="closeOption != null  and closeOption != ''"> and close_option  #{closeOption}</if>

            <if test="telType != null  and telType != ''"> and tel_type =#{telType}</if>
            <if test="eventType != null  and eventType != ''"> and event_type =#{eventType}</if>
            <if test="pName != null  and pName != ''"> and PNAME like concat('%',concat(#{pName},'%'))</if>

            <if test="createTime != null  and createTime != ''"> and t.CREATE_TIME &gt;= #{createTime}</if>
            <if test="startTimeBiz != null  and startTimeBiz != ''">and t.CREATE_TIME &lt;= #{startTimeBiz}</if>

            <if test="createName !=null and createName !='' ">and createname like concat('%',concat(#{createName},'%'))</if>
        </where>
        order by START_TIME desc
    </select>

    <insert id="insertOgPhone" parameterType="TelBiz">
        insert into tel_biz
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="telid != null  and telid != ''">telid,</if>
            <if test="telno != null  and telno != ''">telno,</if>
            <if test="istransfer != null  and istransfer != ''">istransfer,</if>
            <if test="contactOrg != null  and contactOrg != ''">contact_org,</if>
            <if test="sysId != null  and sysId != ''">sys_id,</if>
            <if test="telType != null  and telType != ''">tel_type,</if>
            <if test="content != null  and content != ''">content,</if>
            <if test="createId != null  and createId != ''">create_id,</if>
            <if test="createTime != null  and createTime != ''">create_time,</if>
            <if test="createOrg != null  and createOrg != ''">create_org,</if>
            <if test="contactName != null  and contactName != ''">contact_name,</if>
            <if test="contactPhone != null  and contactPhone != ''">contact_phone,</if>
            <if test="invalidationMark != null  and invalidationMark != ''">invalidation_mark,</if>
            <if test="faultNo != null  and faultNo != ''">fault_no,</if>
            <if test="state != null  and state != ''">state,</if>
            <if test="closeTime != null  and closeTime != ''">close_time,</if>
            <if test="eventType != null  and eventType != ''">event_type,</if>
            <if test="isSolve != null  and isSolve != ''">is_solve,</if>
            <if test="groupNo != null  and groupNo != ''">group_no,</if>
            <if test="overFlowGroup != null  and overFlowGroup != ''">over_flow_group,</if>
            <if test="overFlowTime != null  and overFlowTime != ''">over_flow_time,</if>
            <if test="closeOption != null  and closeOption != ''">close_option,</if>
            <if test="startTime != null  and startTime != ''">START_TIME,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="telid != null  and telid != ''">#{telid},</if>
            <if test="telno != null  and telno != ''">#{telno},</if>
            <if test="istransfer != null  and istransfer != ''">#{istransfer},</if>
            <if test="contactOrg != null  and contactOrg != ''">#{contactOrg},</if>
            <if test="sysId != null  and sysId != ''">#{sysId},</if>
            <if test="telType != null  and telType != ''">#{telType},</if>
            <if test="content != null  and content != ''">#{content},</if>
            <if test="createId != null  and createId != ''">#{createId},</if>
            <if test="createTime != null  and createTime != ''">#{createTime},</if>
            <if test="createOrg != null  and createOrg != ''">#{createOrg},</if>
            <if test="contactName != null  and contactName != ''">#{contactName},</if>
            <if test="contactPhone != null  and contactPhone != ''">#{contactPhone},</if>
            <if test="invalidationMark != null  and invalidationMark != ''">#{invalidationMark},</if>
            <if test="faultNo != null  and faultNo != ''">#{faultNo},</if>
            <if test="state != null  and state != ''">#{state},</if>
            <if test="closeTime != null  and closeTime != ''">#{closeTime},</if>
            <if test="eventType != null  and eventType != ''">#{eventType},</if>
            <if test="isSolve != null  and isSolve != ''">#{isSolve},</if>
            <if test="groupNo != null  and groupNo != ''">#{groupNo},</if>
            <if test="overFlowGroup != null  and overFlowGroup != ''">#{overFlowGroup},</if>
            <if test="overFlowTime != null  and overFlowTime != ''">#{overFlowTime},</if>
            <if test="closeOption != null  and closeOption != ''">#{closeOption},</if>
            <if test="startTime != null  and startTime != ''">#{startTime},</if>
        </trim>
    </insert>

    <select id="selectPhoneById" parameterType="String" resultMap="TelBizResult">
        <include refid="selectPhoneVo"/>
         where telid = #{telid}
    </select>

    <update id="updatePhone" parameterType="TelBiz">
        update tel_biz
        <trim prefix="SET" suffixOverrides=",">
            <if test="telno != null  and telno != ''">telno = #{telno},</if>
            <if test="istransfer != null  and istransfer != ''">istransfer = #{istransfer},</if>
            <if test="contactOrg != null  and contactOrg != ''">contact_org = #{contactOrg},</if>
            <if test="sysId != null  and sysId != ''">sys_id = #{sysId},</if>
            <if test="telType != null  and telType != ''">tel_type = #{telType},</if>
            <if test="content != null  and content != ''">content = #{content},</if>
            <if test="createId != null  and createId != ''">create_id = #{createId},</if>
            <if test="createTime != null  and createTime != ''">create_time = #{createTime},</if>
            <if test="createOrg != null  and createOrg != ''">create_org = #{createOrg},</if>
            <if test="contactName != null  and contactName != ''">contact_name = #{contactName},</if>
            <if test="contactPhone != null  and contactPhone != ''">contact_phone = #{contactPhone},</if>
            <if test="invalidationMark != null  and invalidationMark != ''">invalidation_mark = #{invalidationMark},</if>
            <if test="faultNo != null  and faultNo != ''">fault_no = #{faultNo},</if>
            <if test="state != null  and state != ''">state = #{state},</if>
            <if test="closeTime != null  and closeTime != ''">close_time = #{closeTime},</if>
            <if test="eventType != null  and eventType != ''">event_type = #{eventType},</if>
            <if test="isSolve != null  and isSolve != ''">is_solve = #{isSolve},</if>
            <if test="groupNo != null  and groupNo != ''">group_no = #{groupNo},</if>
            <if test="overFlowGroup != null  and overFlowGroup != ''">over_flow_group = #{overFlowGroup},</if>
            <if test="overFlowTime != null  and overFlowTime != ''">over_flow_time = #{overFlowTime},</if>
            <if test="closeOption != null  and closeOption != ''">close_option = #{closeOption},</if>
            <if test="startTime != null  and startTime != ''">START_TIME = #{startTime},</if>
        </trim>
        where telid = #{telid}
    </update>

    <delete id="deletePhoneByIds" parameterType="String">
        delete from tel_biz where telid in
        <foreach item="telid" collection="array" open="(" separator="," close=")">
            #{telid}
        </foreach>
    </delete>

</mapper>