<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.activiti.mapper.SmBizTaskinfoMapper">
    
    <resultMap type="SmBizTaskinfo" id="SmBizTaskinfoResult">
        <result property="taskFormId"    column="task_form_id"    />
        <result property="taskId"    column="task_id"    />
        <result property="taskFromNo"    column="task_from_no"    />
        <result property="taskPerformTime"    column="task_perform_time"    />
        <result property="generateTime"    column="generate_time"    />
        <result property="taskFormStatus"    column="task_form_status"    />
        <result property="updateTime"    column="update_time"    />
        <result property="invalidationMark"    column="invalidation_mark"    />
        <result property="performDate"    column="perform_date"    />
        <result property="excuteDate"    column="excute_date"    />
        <result property="excuteTime"    column="excute_time"    />
        <result property="performDeptId"    column="perform_dept_id"    />
        <result property="performUserId"    column="perform_user_id"    />
        <result property="performDutyId"    column="perform_duty_id"    />
        <result property="checkerId"    column="checker_id"    />
        <result property="excuteDescription"    column="excute_description"    />
        <result property="inspectDescription"    column="inspect_description"    />
        <result property="workBeginTime"    column="work_begin_time"    />
        <result property="workEndTime"    column="work_end_time"    />
        <result property="relateChange"    column="relate_change"    />
        <result property="performGroupId"    column="perform_group_id"    />
        <result property="isChange"    column="is_change"    />
        <result property="change"    column="changes"    />
        <result property="publishTime"    column="publish_time"    />
        <result property="grpname"    column="grpname"    />
        <result property="ogoname"    column="ogoname"    />
        <result property="performUserName"    column="performUserName"    />
        <result property="isWrite"    column="is_write"    />


        <association property="smBizTask" column="taskId" javaType="SmBizTask" resultMap="SmBizTaskResult"/>
        <association property="smBizScheduling" column="schedulingId" javaType="SmBizScheduling" resultMap="Scheduling"/>
    </resultMap>

    <resultMap type="SmBizTaskinfoTwo" id="SmBizTaskinfoTwoResult">
        <result property="taskFormId"    column="task_form_id"    />
        <result property="taskId"    column="task_id"    />
        <result property="taskFromNo"    column="task_from_no"    />
        <result property="taskPerformTime"    column="task_perform_time"    />
        <result property="generateTime"    column="generate_time"    />
        <result property="taskFormStatus"    column="task_form_status"    />
        <result property="updateTime"    column="update_time"    />
        <result property="invalidationMark"    column="invalidation_mark"    />
        <result property="performDate"    column="perform_date"    />
        <result property="excuteDate"    column="excute_date"    />
        <result property="excuteTime"    column="excute_time"    />
        <result property="performDeptId"    column="perform_dept_id"    />
        <result property="performUserId"    column="perform_user_id"    />
        <result property="performDutyId"    column="perform_duty_id"    />
        <result property="checkerId"    column="checker_id"    />
        <result property="excuteDescription"    column="excute_description"    />
        <result property="inspectDescription"    column="inspect_description"    />
        <result property="workBeginTime"    column="work_begin_time"    />
        <result property="workEndTime"    column="work_end_time"    />
        <result property="relateChange"    column="relate_change"    />
        <result property="performGroupId"    column="perform_group_id"    />
        <result property="isChange"    column="is_change"    />
        <result property="change"    column="change"    />
        <result property="publishTime"    column="publish_time"    />
        <result property="grpname"    column="grpname"    />
        <result property="ogoname"    column="ogoname"    />
        <result property="performUserName"    column="performUserName"    />
        <result property="isWrite"    column="is_write"    />
        <result property="schedulingName" column="schedulingName"></result>
        <result property="createname" column="createname"></result>

        <association property="smBizTask" column="taskId" javaType="SmBizTask" resultMap="SmBizTaskResult"/>
        <association property="smBizScheduling" column="schedulingId" javaType="SmBizScheduling" resultMap="Scheduling"/>
    </resultMap>


    <resultMap type="SmBizTaskinfoThree" id="SmBizTaskinfoThreeResult">
        <result property="taskFormId"    column="task_form_id"    />
        <result property="taskId"    column="task_id"    />
        <result property="taskFromNo"    column="task_from_no"    />
        <result property="taskPerformTime"    column="task_perform_time"    />
        <result property="generateTime"    column="generate_time"    />
        <result property="taskFormStatus"    column="task_form_status"    />
        <result property="updateTime"    column="update_time"    />
        <result property="invalidationMark"    column="invalidation_mark"    />
        <result property="performDate"    column="perform_date"    />
        <result property="excuteDate"    column="excute_date"    />
        <result property="excuteTime"    column="excute_time"    />
        <result property="performDeptId"    column="perform_dept_id"    />
        <result property="performUserId"    column="perform_user_id"    />
        <result property="performDutyId"    column="perform_duty_id"    />
        <result property="checkerId"    column="checker_id"    />
        <result property="excuteDescription"    column="excute_description"    />
        <result property="inspectDescription"    column="inspect_description"    />
        <result property="workBeginTime"    column="work_begin_time"    />
        <result property="workEndTime"    column="work_end_time"    />
        <result property="relateChange"    column="relate_change"    />
        <result property="performGroupId"    column="perform_group_id"    />
        <result property="isChange"    column="is_change"    />
        <result property="change"    column="change"    />
        <result property="publishTime"    column="publish_time"    />
        <result property="grpname"    column="grpname"    />
        <result property="ogoname"    column="ogoname"    />
        <result property="performUserName"    column="performUserName"    />
        <result property="isWrite"    column="is_write"    />
        <result property="schedulingName" column="schedulingName"></result>
        <result property="createname" column="createname"></result>
        <result property="performResult" column="performResult"></result>
        <result property="expectStartTime" column="expectStartTime"></result>
        <result property="practicleEnd" column="practicleEnd"></result>
        <result property="implementorName" column="implementorName"></result>

        <association property="smBizTask" column="taskId" javaType="SmBizTask" resultMap="SmBizTaskResult"/>
        <association property="smBizScheduling" column="schedulingId" javaType="SmBizScheduling" resultMap="Scheduling"/>
    </resultMap>

    <resultMap type="SmBizTask" id="SmBizTaskResult">
        <id property="taskId" column="task_id"></id>
        <result property="updateTime"    column="update_time"    />
        <result property="performTime"    column="perform_time"    />
        <result property="invalidationMark"    column="invalidation_mark"    />
        <result property="workStatus"    column="work_status"    />
        <result property="createTime"    column="create_time"    />
        <result property="dutyPostName"    column="duty_post_name"    />
        <result property="process"    column="process"    />
        <result property="checkerId"    column="checker_id"    />
        <result property="performUserId"    column="perform_user_id"    />
        <result property="handlerDeptId"    column="handler_dept_id"    />
        <result property="dutyPostId"    column="duty_post_id"    />
        <result property="hour"    column="hour"    />
        <result property="min"    column="min"    />
        <result property="performWeeks"    column="perform_weeks"    />
        <result property="performMonths"    column="perform_months"    />
        <result property="performDay"    column="perform_day"    />
        <result property="createOrgId"    column="create_org_id"    />
        <result property="msgDoor"    column="msg_door"    />
        <result property="msgHour"    column="msg_hour"    />
        <result property="msgMin"    column="msg_min"    />
        <result property="sendRange"    column="send_range"    />
        <result property="performDeptName"    column="perform_dept_name"    />
        <result property="performDeptId"    column="perform_dept_id"    />
        <result property="performGroupId"    column="perform_group_id"    />
        <result property="performGroupName"    column="perform_group_name"    />
        <result property="day"    column="day"    />
        <result property="receiveRoleName"    column="receive_role_name"    />
        <result property="receiveRoleId"    column="receive_role_id"    />
        <result property="schedulingId"    column="scheduling_id"    />
        <result property="taskNo"    column="task_no"    />
        <result property="performUserName"    column="perform_user_name"    />
        <result property="handlerDeptName"    column="handler_dept_name"    />
        <result property="taskTitle"    column="task_title"    />
        <result property="taskDescription"    column="task_description"    />
        <result property="taskEffectDate"    column="task_effect_date"    />
        <result property="taskFailureDate"    column="task_failure_date"    />
        <result property="character"    column="character"    />
        <result property="taskTypeId"    column="task_type_id"    />
        <result property="startTime"    column="start_time"    />
        <result property="taskHoursWorked"    column="task_hours_worked"    />
        <result property="taskCycle"    column="task_cycle"    />
        <result property="taskFrequency"    column="task_frequency"    />
    </resultMap>


    <resultMap type="SmBizScheduling" id="Scheduling">
        <id property="schedulingId" column="scheduling_id"></id>
        <result property="schedulingNo"    column="scheduling_no"    />
        <result property="schedulingName"    column="scheduling_name"    />
        <result property="schedulingDescription"    column="scheduling_description"    />
        <result property="createTime"    column="create_time"    />
        <result property="effectiveTime"    column="effective_time"    />
        <result property="creatorId"    column="creator_id"    />
        <result property="creatorDeptId"    column="creator_dept_id"    />
        <result property="recheckMark"    column="recheck_mark"    />
        <result property="recheckerId"    column="rechecker_id"    />
        <result property="updateTime"    column="update_time"    />
        <result property="invalidationMark"    column="invalidation_mark"    />
        <result property="planStatus"    column="plan_status"    />
        <result property="process"    column="process"    />
        <result property="planType"    column="plan_type"    />
        <result property="checkPersonId"    column="check_person_id"    />
        <result property="checkPersonName"    column="check_person_name"    />
        <result property="checkDescription"    column="check_description"    />
        <result property="masterOrgId"    column="master_org_id"    />
        <result property="checkTime"    column="check_time"    />
        <result property="planCheckpass"    column="plan_checkpass"    />
        <result property="cancelFlag"    column="cancel_flag"    />
        <result property="folder"    column="folder"    />
        <!--创建人名称-->
        <result property="createName" column="createname"></result>
        <!--审核人名称-->
        <result property="checkedName" column="checkedname"></result>
        <!--创建机构名称-->
        <result property="orgName" column="orgname"></result>



    </resultMap>





    <sql id="selectSmBizTaskinfoVo">
        select task_form_id, task_id, task_from_no, task_perform_time, generate_time, task_form_status, update_time, invalidation_mark, perform_date, excute_date, excute_time, perform_dept_id, perform_user_id, perform_duty_id, checker_id, excute_description, inspect_description, work_begin_time, work_end_time, relate_change, perform_group_id, is_change, change, publish_time from sm_biz_taskinfo
    </sql>

    <select id="selectSmBizTaskinfoList" parameterType="SmBizTaskinfo" resultMap="SmBizTaskinfoResult">
        SELECT t.* from(
            SELECT
            a.TASK_FORM_ID,
            a .TASK_FROM_NO,
            b.TASK_TYPE_ID,
            b.TASK_TITLE,
            a.PERFORM_GROUP_Id,
            a.PERFORM_DEPT_id,
            a .PUBLISH_TIME,
            (
            select ogp.GRPNAME from OG_GROUP ogp
            where ogp.GROUPID = a.PERFORM_GROUP_Id
            ) as grpname,
            (
            select oor.ORGNAME from OG_ORG oor
            where oor.ORGID = a.PERFORM_DEPT_id
            ) as ogoname,
            og.pname createname,
            o.orgname orgname,
            a.update_time,
            a.perform_date

        From
            SM_BIZ_TASKINFO a,
            sm_biz_task b,
            sm_biz_scheduling c,
            og_person og,
            OG_ORG o
            where a.task_id=b.task_id
            and
            b.scheduling_id=c.scheduling_id
            AND
            c.CREATOR_ID = og.pid
            AND
            c.creator_dept_id = o.orgid
            and a.invalidation_mark='1'
            and a.task_form_status = '02'
            and c.plan_status in ('04','05')
            and c.plan_type = '1'
        ) t
        <where>


        <if test="taskFromNo !=null and taskFromNo !='' ">
            and TASK_FROM_NO like concat(concat('%', #{taskFromNo}),'%')
        </if>

        <if test="smBizTask.taskTypeId != null and smBizTask.taskTypeId != ''">
            AND TASK_TYPE_ID like concat(concat('%', #{smBizTask.taskTypeId}),'%')
        </if>
        <if test="smBizTask.taskTitle !=null and smBizTask.taskTitle !='' ">
            and TASK_TITLE like concat(concat('%', #{smBizTask.taskTitle}),'%')
        </if>
            <if test="ogoname !=null and ogoname != ''  ">
                and  ogoname like concat(concat('%', #{ogoname}),'%') or grpname  like concat(concat('%', #{ogoname}),'%')
            </if>
        <if test="smBizScheduling.createName !=null and smBizScheduling.createName !='' ">
            and (createname like concat(concat('%', #{smBizScheduling.createName}),'%'))
        </if>
            <if test="smBizScheduling.orgName !=null and smBizScheduling.orgName !='' ">
            and (orgname like  concat(concat('%', #{smBizScheduling.orgName}),'%'))
        </if>
        <if test="planStartDate !=null and planStartDate !=''">
            and perform_date &gt;=to_char(to_date( #{planStartDate},'YYYY-MM-DD HH24:MI:SS'), 'YYYYMMDDHH24MISS')
        </if>
        <if test="planEndDate !=null and planEndDate !=''">
            and perform_date &lt;=to_char(to_date( #{planEndDate},'YYYY-MM-DD HH24:MI:SS')+1, 'YYYYMMDDHH24MISS')
        </if>

        </where>
        order by update_time desc

    </select>

    <sql id="selectSmBizTaskinfoVo2">
        select task_form_id, task_id, task_from_no, task_perform_time, generate_time, task_form_status, update_time, invalidation_mark, perform_date, excute_date, excute_time, perform_dept_id, perform_user_id, perform_duty_id, checker_id, excute_description, inspect_description, work_begin_time, work_end_time, relate_change, perform_group_id, is_change, change, publish_time from sm_biz_taskinfo
    </sql>


    <select id="selectSmBizTaskinfoListtwo" parameterType="SmBizTaskinfo" resultMap="SmBizTaskinfoResult">

        SELECT
        A .task_form_id,
        A .task_id,
        A .task_from_no,
        A .task_perform_time,
        <choose>
            <when test="dbType=='mysql'">
                str_to_date(A.generate_time,'%Y%m%d%H%i%s') as  generate_time,
            </when>
            <otherwise>
                "TO_CHAR"("TO_DATE"(A .generate_time, 'yyyymmddhh24miss'),'yyyy-mm-dd hh24:mi:ss') generate_time,
            </otherwise>
        </choose>
        A .perform_date,
        A .task_form_status,
        A .update_time,
        A .invalidation_mark,
        A .excute_date,
        A .excute_time,
        A .perform_dept_id,
        A .perform_user_id,
        A .perform_duty_id,
        A .checker_id,
        A .excute_description,
        A .inspect_description,
        A .work_begin_time,
        A .work_end_time,
        A .relate_change,
        A .perform_group_id,
        A .is_change,
        A .CHANGES,
        A .publish_time,
        oor.orgName,
        ogp.grpName,
        b.task_title,
        c.scheduling_id
        FROM
        SM_BIZ_TASKINFO A
        LEFT JOIN SM_BIZ_TASK b ON A .TASK_ID = b.TASK_ID
        LEFT JOIN SM_BIZ_SCHEDULING c ON c.SCHEDULING_ID = b.SCHEDULING_ID
        left join OG_ORG oor on oor.ORGID = A .PERFORM_DEPT_id
        LEFT JOIN OG_GROUP ogp on ogp.GROUPID = A.PERFORM_GROUP_Id


        <where>
            <if test="taskFormId != null"> and a.task_form_id = #{taskFormId}</if>
            <if test="taskId != null  and taskId != ''"> and a.task_id = #{taskId}</if>
            <if test="taskPerformTime != null  and taskPerformTime != ''"> and a.task_perform_time = #{taskPerformTime}</if>
            <if test="taskFormStatus != null  and taskFormStatus != ''"> and a.task_form_status = #{taskFormStatus}</if>
            <if test="invalidationMark != null  and invalidationMark != ''"> and a.invalidation_mark = #{invalidationMark}</if>
            <if test="performDate != null  and performDate != ''"> and a.perform_date = #{performDate}</if>
            <if test="excuteDate != null  and excuteDate != ''"> and a.excute_date = #{excuteDate}</if>
            <if test="excuteTime != null  and excuteTime != ''"> and a.excute_time = #{excuteTime}</if>
            <if test="performDeptId != null  and performDeptId != ''"> and a.perform_dept_id = #{performDeptId}</if>
            <if test="performUserId != null  and performUserId != ''"> and a.perform_user_id = #{performUserId}</if>
            <if test="performDutyId != null  and performDutyId != ''"> and a.perform_duty_id = #{performDutyId}</if>
            <if test="checkerId != null  and checkerId != ''"> and a.checker_id = #{checkerId}</if>
            <if test="excuteDescription != null  and excuteDescription != ''"> and a.excute_description = #{excuteDescription}</if>
            <if test="inspectDescription != null  and inspectDescription != ''"> and a.inspect_description = #{inspectDescription}</if>
            <if test="workBeginTime != null  and workBeginTime != ''"> and a.work_begin_time = #{workBeginTime}</if>
            <if test="workEndTime != null  and workEndTime != ''"> and a.work_end_time = #{workEndTime}</if>
            <if test="relateChange != null  and relateChange != ''"> and a.relate_change = #{relateChange}</if>
            <if test="isChange != null  and isChange != ''"> and a.is_change = #{isChange}</if>
            <if test="change != null  and change != ''"> and a.changes = #{change}</if>
            <if test="publishTime != null  and publishTime != ''"> and a.publish_time = #{publishTime}</if>

            <if test="taskFromNo !=null and taskFromNo !='' ">
                and a.task_from_no like concat(concat('%', #{taskFromNo}),'%')
            </if>
            <if test="generateTime !=null and generateTime!=''">
                and generate_time &gt;=TO_CHAR(TO_DATE( #{generateTime},'YYYY-MM-DD HH24:MI:SS'), 'YYYYMMDDHH24MISS')
            </if>
            <if test="endgenerateTime !=null and endgenerateTime!=''">
                and generate_time &lt;=TO_CHAR(TO_DATE( #{endgenerateTime},'YYYY-MM-DD HH24:MI:SS')+1, 'YYYYMMDDHH24MISS')
            </if>
            <if test="ogoname !=null and ogoname != ''  ">
                and  (oor.ORGNAME like concat(concat('%', #{ogoname}),'%')  or ogp.grpname  like concat(concat('%', #{ogoname}),'%'))
            </if>
        </where>
    </select>


    <select id="selectSmBizTaskinfoListEvo" parameterType="SmBizTaskinfoThree" resultMap="SmBizTaskinfoThreeResult">
        SELECT  t.* FROM (
        SELECT
        a.task_form_id,
        a.task_id,
        a.task_from_no,
        a.task_perform_time,
        a.generate_time,
        a.task_form_status,
        a.update_time,
        a.invalidation_mark,
        a.perform_date,
        a.excute_date,
        a.excute_time,
        a.perform_dept_id,
        a.perform_user_id,
        a.perform_duty_id,
        a.checker_id,
        a.excute_description,
        a.inspect_description,
        a.work_begin_time,
        <choose>
            <when test="dbType=='mysql'">
                str_to_date(a.work_end_time,'%Y%m%d%H%i%s') as  work_end_time,
                str_to_date(E.EXPECT_START_TIME,'%Y%m%d%H%i%s') as  expectStartTime,
                str_to_date(E.PRACTICLE_END,'%Y%m%d%H%i%s') as  practicleEnd,
            </when>
            <otherwise>
                "TO_CHAR"("TO_DATE"(a.work_end_time, 'yyyymmddhh24miss'),'yyyy-mm-dd hh24:mi:ss') work_end_time,
                "TO_CHAR"("TO_DATE"(E.EXPECT_START_TIME, 'yyyymmddhh24miss'),'yyyy-mm-dd hh24:mi:ss') expectStartTime,
                "TO_CHAR"("TO_DATE"(E.PRACTICLE_END, 'yyyymmddhh24miss'),'yyyy-mm-dd hh24:mi:ss') practicleEnd,
            </otherwise>
        </choose>

        a.relate_change,
        a.perform_group_id,
        a.is_change,
        a.CHANGES,
        a.publish_time,
        (
        select ogp.GRPNAME from OG_GROUP ogp
        where ogp.GROUPID = a.PERFORM_GROUP_Id
        ) as grpname,
        (
        select oor.ORGNAME from OG_ORG oor
        where oor.ORGID = a.PERFORM_DEPT_id
        ) as ogoname,
        d.pname performUserName,
        E.PERFORM_RESULT performResult,
--         "TO_CHAR"("TO_DATE"(E.EXPECT_START_TIME, 'yyyymmddhh24miss'),'yyyy-mm-dd hh24:mi:ss') expectStartTime,
--         "TO_CHAR"("TO_DATE"(E.PRACTICLE_END, 'yyyymmddhh24miss'),'yyyy-mm-dd hh24:mi:ss') practicleEnd,
        p2.pname implementorName

        FROM
        SM_BIZ_TASKINFO A
        LEFT JOIN SM_BIZ_TASK b ON A .TASK_ID = b.TASK_ID
        LEFT JOIN SM_BIZ_SCHEDULING c ON b.scheduling_id = c.scheduling_id
        LEFT JOIN OG_PERSON D ON A .perform_user_id = D .pid
        LEFT JOIN CM_BIZ_SINGLE E ON A.RELATE_CHANGE  = E.CHANGE_CODE
        left join og_person p2 on E.implementor_id = p2.pid

        WHERE
        A .invalidation_mark = '1'
        AND c.plan_type = '1'
        ) t
        <where>
            <if test="taskFormId != null"> and task_form_id = #{taskFormId}</if>
            <if test="taskId != null  and taskId != ''"> and task_id = #{taskId}</if>
            <if test="taskPerformTime != null  and taskPerformTime != ''"> and task_perform_time = #{taskPerformTime}</if>
            <if test="generateTime != null  and generateTime != ''"> and generate_time = #{generateTime}</if>
            <if test="invalidationMark != null  and invalidationMark != ''"> and invalidation_mark = #{invalidationMark}</if>
            <if test="performDate != null  and performDate != ''"> and perform_date = #{performDate}</if>
            <if test="excuteDate != null  and excuteDate != ''"> and excute_date = #{excuteDate}</if>
            <if test="excuteTime != null  and excuteTime != ''"> and excute_time = #{excuteTime}</if>
            <if test="performDeptId != null  and performDeptId != ''"> and perform_dept_id = #{performDeptId}</if>
            <if test="performUserId != null  and performUserId != ''"> and perform_user_id = #{performUserId}</if>
            <if test="performDutyId != null  and performDutyId != ''"> and perform_duty_id = #{performDutyId}</if>
            <if test="checkerId != null  and checkerId != ''"> and checker_id = #{checkerId}</if>
            <if test="excuteDescription != null  and excuteDescription != ''"> and excute_description = #{excuteDescription}</if>
            <if test="inspectDescription != null  and inspectDescription != ''"> and inspect_description = #{inspectDescription}</if>
            <if test="relateChange != null  and relateChange != ''"> and relate_change = #{relateChange}</if>
            <if test="performGroupId != null  and performGroupId != ''"> and perform_group_id = #{performGroupId}</if>
            <if test="isChange != null  and isChange != ''"> and is_change = #{isChange}</if>
            <if test="change != null  and change != ''"> and changes = #{change}</if>
            <if test="publishTime != null  and publishTime != ''"> and publish_time = #{publishTime}</if>
            <if test="workBeginTime !=null and workBeginTime!=''">
                and work_begin_time &gt;=#{workBeginTime}
            </if>
            <if test="endworkBeginTime !=null and endworkBeginTime!=''">
                and work_begin_time &lt;=#{endworkBeginTime}
            </if>
            <if test="ogoname !=null and ogoname != ''  ">
                and  (ogoname like concat(concat('%', #{ogoname}),'%') or grpname  like concat(concat('%', #{ogoname}),'%'))
            </if>
            <if test="taskFromNo !=null and taskFromNo !='' ">
                and task_from_no like concat(concat('%', #{taskFromNo}),'%')
            </if>
            <if test="writeTimeStart !=null and writeTimeStart!=''">
                and work_end_time &gt;= #{writeTimeStart}
            </if>
            <if test="writeTimeEnd !=null and writeTimeEnd!=''">
                and work_end_time &lt;= #{writeTimeEnd}
            </if>
            <if test="taskFormStatus !=null and taskFormStatus !='' ">

                <choose>
                    <when test="taskFormStatus != '04' ">
                        and task_form_status = #{taskFormStatus}
                    </when>
                    <otherwise>
                        and task_form_status in('03','04')
                    </otherwise>
                </choose>

            </if>
            <if test="isWrite !=null and isWrite !='' ">
                <choose>
                    <when test="isWrite != false ">
                        and task_form_status in ('03')
                    </when>
                    <otherwise>
                        and task_form_status in('01','02')
                    </otherwise>
                </choose>
            </if>

            <if test="performResult != null  and performResult != ''">
                and performResult = #{performResult}
            </if>

        </where>
    </select>



    <select id="selectSmBizTaskinfoById" parameterType="String" resultMap="SmBizTaskinfoResult">
            SELECT
            a.*,
            b.update_time,
			b.perform_time,
			b.invalidation_mark,
			b.work_status,
			b.duty_post_name,
			b.PROCESS,
			b.checker_id,
			b.perform_user_id,
			b.handler_dept_id,
			b.duty_post_id,
			b.HOUR,
			b.MIN,
			b.perform_weeks,
			b.perform_months,
			b.perform_day,
			b.create_org_id,
			b.msg_door,
			b.msg_hour,
			b.msg_min,
			b.send_range,
			b.perform_dept_name,
			b.perform_dept_id,
			b.perform_group_id,
			b.perform_group_name,
			b.DAY,
			b.receive_role_name,
			b.receive_role_id,
			b.task_id,
			b.scheduling_id,
			b.task_no,
			b.perform_user_name,
			b.handler_dept_name,
			b.task_title,
			b.task_description,
			b.task_effect_date,
			b.task_failure_date,
			b.CHARACTERS,
			b.task_type_id,
			b.start_time,
			b.task_hours_worked,
			b.task_cycle,
			b.task_frequency,
			c.*,
			(
            select ogp.GRPNAME from OG_GROUP ogp
            where ogp.GROUPID = a.PERFORM_GROUP_Id
            ) as grpname,
            (
            select oor.ORGNAME from OG_ORG oor
            where oor.ORGID = a.PERFORM_DEPT_id
            ) as ogoname,
                og.pname createname,
                o.orgname orgname
                FROM
                SM_BIZ_TASKINFO a LEFT JOIN sm_biz_task b on a.task_id=b.task_id
                LEFT JOIN sm_biz_scheduling c on b.scheduling_id=c.scheduling_id
                LEFT JOIN og_person og ON c.CREATOR_ID = og.pid
                LEFT JOIN OG_ORG o on c.creator_dept_id = o.orgid
                and a.invalidation_mark='1'
                and a.task_form_status = '02'
                and c.plan_type = '1'
                and c.plan_status in ('04','05')
            where a.TASK_FORM_ID = #{taskFormId}
    </select>


    <select id="selectSmBizTaskinfoSList" parameterType="SmBizTaskinfoTwo" resultMap="SmBizTaskinfoTwoResult">
        SELECT * from (
        select
        a.TASK_FORM_ID,
        a.TASK_FROM_NO,
        c.SCHEDULING_NAME schedulingName,
        a.PUBLISH_TIME publishTime,
        <choose>
            <when test="dbType=='mysql'">
                str_to_date(a.PUBLISH_TIME,'%Y%m%d%H%i%s') as  PUBLISH_TIME,
                str_to_date(a.work_begin_time,'%Y%m%d%H%i%s') as  work_begin_time,
            </when>
            <otherwise>
                "TO_CHAR"("TO_DATE"(a.PUBLISH_TIME, 'yyyymmddhh24miss'),'yyyy-mm-dd hh24:mi:ss') PUBLISH_TIME,
                "TO_CHAR"("TO_DATE"(a.work_begin_time, 'yyyymmddhh24miss'),'yyyy-mm-dd hh24:mi:ss') work_begin_time,
            </otherwise>
        </choose>
        b.PERFORM_GROUP_NAME,
        b.PERFORM_DEPT_NAME,
        c.CREATOR_ID,
        a.EXCUTE_DESCRIPTION,
        (
        select per.pname from OG_PERSON per
        where per.pid = a.PERFORM_USER_ID
        ) as performUserName,
        a.work_begin_time workBeginTime,
--         "TO_CHAR"("TO_DATE"(a.work_begin_time, 'yyyymmddhh24miss'),'yyyy-mm-dd hh24:mi:ss') work_begin_time,
        a.TASK_FORM_STATUS,
        a.perform_date,
        og.pname createname,
        (
        select ogp.GRPNAME from OG_GROUP ogp
        where ogp.GROUPID = a.PERFORM_GROUP_Id
        ) as grpname,
        (
        select oor.ORGNAME from OG_ORG oor
        where oor.ORGID = a.PERFORM_DEPT_id
        ) as ogoname
        from
        sm_biz_taskinfo a,
        sm_biz_task b,
        sm_biz_scheduling c,
        og_person og,
        OG_ORG o
        where a.task_id=b.task_id
        and b.scheduling_id=c.scheduling_id
        and c.CREATOR_ID = og.pid
        and c.creator_dept_id = o.orgid
        and a.invalidation_mark='1'
        and a.task_form_status  in ('02','03')
        and c.plan_type = '1'
        and c.plan_status in ('04','05','06')
        )
        <where>
        <if test="taskFromNo !=null and taskFromNo !='' ">
            and TASK_FROM_NO like concat(concat('%', #{taskFromNo}),'%')
        </if>
        <if test="smBizScheduling.schedulingName !=null and smBizScheduling.schedulingName !='' ">
            and schedulingName like concat(concat('%', #{smBizScheduling.schedulingName}),'%')
        </if>
        <if test="performUserName !=null and performUserName !='' ">
            and performUserName like concat(concat('%', #{performUserName}),'%')
        </if>
        <if test="publishTime !=null and publishTime!=''">
            and publishTime &gt;=#{publishTime}
        </if>
        <if test="endPublishTime !=null and endPublishTime!=''">
            and publishTime &lt;=#{endPublishTime}
        </if>
        <if test="workBeginTime !=null and workBeginTime!=''">
            and workBeginTime &gt;=#{workBeginTime}
        </if>
        <if test="endworkBeginTime !=null and endworkBeginTime!=''">
            and workBeginTime &lt;=#{endworkBeginTime}
        </if>
        </where>
        order by work_begin_time desc
    </select>
    <select id="selectSmBizTaskinfoSelById" parameterType="String" resultMap="SmBizTaskinfoResult">
        SELECT
            A .*, b.*, c.*, og.pname createname,
            o.orgname orgname,
            (
            select ogp.GRPNAME from OG_GROUP ogp
            where ogp.GROUPID = a.PERFORM_GROUP_Id
            ) as grpname,
            (
            select oor.ORGNAME from OG_ORG oor
            where oor.ORGID = a.PERFORM_DEPT_id
            ) as ogoname
        FROM
            SM_BIZ_TASKINFO A
        LEFT JOIN sm_biz_task b ON A .task_id = b.task_id
        LEFT JOIN sm_biz_scheduling c ON b.scheduling_id = c.scheduling_id
        LEFT JOIN og_person og ON c.CREATOR_ID = og.pid
        LEFT JOIN OG_ORG o ON c.creator_dept_id = o.orgid
        AND A .invalidation_mark = '1'
        AND c.plan_type = '1'
        AND A .task_form_status in ('02','03')
        AND c.plan_status IN ('04', '05', '06')
        where a.task_form_id = #{taskFormId}
    </select>

    <insert id="insertSmBizTaskinfo" parameterType="SmBizTaskinfo">
        insert into sm_biz_taskinfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="taskFormId != null  and taskFormId != ''">task_form_id,</if>
            <if test="taskId != null  and taskId != ''">task_id,</if>
            <if test="taskFromNo != null  and taskFromNo != ''">task_from_no,</if>
            <if test="taskPerformTime != null  and taskPerformTime != ''">task_perform_time,</if>
            <if test="generateTime != null  and generateTime != ''">generate_time,</if>
            <if test="taskFormStatus != null  and taskFormStatus != ''">task_form_status,</if>
            <if test="updateTime != null  and updateTime != ''">update_time,</if>
            <if test="invalidationMark != null  and invalidationMark != ''">invalidation_mark,</if>
            <if test="performDate != null  and performDate != ''">perform_date,</if>
            <if test="excuteDate != null  and excuteDate != ''">excute_date,</if>
            <if test="excuteTime != null  and excuteTime != ''">excute_time,</if>
            <if test="performDeptId != null  and performDeptId != ''">perform_dept_id,</if>
            <if test="performUserId != null  and performUserId != ''">perform_user_id,</if>
            <if test="performDutyId != null  and performDutyId != ''">perform_duty_id,</if>
            <if test="checkerId != null  and checkerId != ''">checker_id,</if>
            <if test="excuteDescription != null ">excute_description,</if>
            <if test="inspectDescription != null ">inspect_description,</if>
            <if test="workBeginTime != null  and workBeginTime != ''">work_begin_time,</if>
            <if test="workEndTime != null  and workEndTime != ''">work_end_time,</if>
            <if test="relateChange != null  and relateChange != ''">relate_change,</if>
            <if test="performGroupId != null  and performGroupId != ''">perform_group_id,</if>
            <if test="isChange != null  and isChange != ''">is_change,</if>
            <if test="change != null  and change != ''">changes,</if>
            <if test="publishTime != null  and publishTime != ''">publish_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="taskFormId != null  and taskFormId != ''">#{taskFormId},</if>
            <if test="taskId != null  and taskId != ''">#{taskId},</if>
            <if test="taskFromNo != null  and taskFromNo != ''">#{taskFromNo},</if>
            <if test="taskPerformTime != null  and taskPerformTime != ''">#{taskPerformTime},</if>
            <if test="generateTime != null  and generateTime != ''">#{generateTime},</if>
            <if test="taskFormStatus != null  and taskFormStatus != ''">#{taskFormStatus},</if>
            <if test="updateTime != null  and updateTime != ''">#{updateTime},</if>
            <if test="invalidationMark != null  and invalidationMark != ''">#{invalidationMark},</if>
            <if test="performDate != null  and performDate != ''">#{performDate},</if>
            <if test="excuteDate != null  and excuteDate != ''">#{excuteDate},</if>
            <if test="excuteTime != null  and excuteTime != ''">#{excuteTime},</if>
            <if test="performDeptId != null  and performDeptId != ''">#{performDeptId},</if>
            <if test="performUserId != null  and performUserId != ''">#{performUserId},</if>
            <if test="performDutyId != null  and performDutyId != ''">#{performDutyId},</if>
            <if test="checkerId != null  and checkerId != ''">#{checkerId},</if>
            <if test="excuteDescription != null ">#{excuteDescription},</if>
            <if test="inspectDescription != null ">#{inspectDescription},</if>
            <if test="workBeginTime != null  and workBeginTime != ''">#{workBeginTime},</if>
            <if test="workEndTime != null  and workEndTime != ''">#{workEndTime},</if>
            <if test="relateChange != null  and relateChange != ''">#{relateChange},</if>
            <if test="performGroupId != null  and performGroupId != ''">#{performGroupId},</if>
            <if test="isChange != null  and isChange != ''">#{isChange},</if>
            <if test="change != null  and change != ''">#{change},</if>
            <if test="publishTime != null  and publishTime != ''">#{publishTime},</if>
        </trim>
    </insert>

    <update id="updateSmBizTaskinfo" parameterType="SmBizTaskinfo">
        update sm_biz_taskinfo
        <trim prefix="SET" suffixOverrides=",">
            <if test="taskId != null  and taskId != ''">task_id = #{taskId},</if>
            <if test="taskFromNo != null  and taskFromNo != ''">task_from_no = #{taskFromNo},</if>
            <if test="taskPerformTime != null  and taskPerformTime != ''">task_perform_time = #{taskPerformTime},</if>
            <if test="generateTime != null  and generateTime != ''">generate_time = #{generateTime},</if>
            <if test="taskFormStatus != null  and taskFormStatus != ''">task_form_status = #{taskFormStatus},</if>
            <if test="updateTime != null  and updateTime != ''">update_time = #{updateTime},</if>
            <if test="invalidationMark != null  and invalidationMark != ''">invalidation_mark = #{invalidationMark},</if>
            <if test="performDate != null  and performDate != ''">perform_date = #{performDate},</if>
            <if test="excuteDate != null  and excuteDate != ''">excute_date = #{excuteDate},</if>
            <if test="excuteTime != null  and excuteTime != ''">excute_time = #{excuteTime},</if>
            <if test="performDeptId != null  and performDeptId != ''">perform_dept_id = #{performDeptId},</if>
            <if test="performUserId != null  and performUserId != ''">perform_user_id = #{performUserId},</if>
            <if test="performDutyId != null  and performDutyId != ''">perform_duty_id = #{performDutyId},</if>
            <if test="checkerId != null  and checkerId != ''">checker_id = #{checkerId},</if>
            <if test="excuteDescription != null ">excute_description = #{excuteDescription},</if>
            <if test="inspectDescription != null ">inspect_description = #{inspectDescription},</if>
            <if test="workBeginTime != null  and workBeginTime != ''">work_begin_time = #{workBeginTime},</if>
            <if test="workEndTime != null  and workEndTime != ''">work_end_time = #{workEndTime},</if>
            <if test="relateChange != null  and relateChange != ''">relate_change = #{relateChange},</if>
            <if test="performGroupId != null  and performGroupId != ''">perform_group_id = #{performGroupId},</if>
            <if test="isChange != null  and isChange != ''">is_change = #{isChange},</if>
            <if test="change != null  and change != ''">changes = #{change},</if>
            <if test="publishTime != null  and publishTime != ''">publish_time = #{publishTime},</if>
        </trim>
        where task_form_id = #{taskFormId}
    </update>

    <update id="updateSmBizTaskinfoByTaskId" parameterType="SmBizTaskinfo">
        update sm_biz_taskinfo
        <trim prefix="SET" suffixOverrides=",">
            <if test="performDate != null  and performDate != ''">perform_date = #{performDate},</if>
        </trim>
        where task_id = #{taskId}
    </update>

    <delete id="deleteSmBizTaskinfoById" parameterType="String">
        delete from sm_biz_taskinfo where task_form_id = #{taskFormId}
    </delete>

    <delete id="deleteSmBizTaskinfoByIds" parameterType="String">
        delete from sm_biz_taskinfo where task_form_id in 
        <foreach item="taskFormId" collection="array" open="(" separator="," close=")">
            #{taskFormId}
        </foreach>
    </delete>

    <delete id="deleteSmBizTaskinfoZyById" parameterType="String">
        delete from sm_biz_taskinfo where task_id = #{taskId}
    </delete>



    <!-- 自动发布查询-->
    <select id="selectPubLishTask" resultMap="SmBizTaskinfoResult">
        SELECT
        *  From
        SM_BIZ_TASKINFO a
            left join sm_biz_task b on a.task_id=b.task_id
            left join sm_biz_scheduling d on b.scheduling_id=d.scheduling_id
        where a.invalidation_mark='1'
        and a.task_form_status = '01'
        and d.plan_status in ('04','05')
    </select>


    <select id="selectSmBizTaskinfoByTaskId" parameterType="String" resultMap="SmBizTaskinfoResult">
     SELECT
        a.*,
        b.update_time,
        b.perform_time,
        b.invalidation_mark,
        b.work_status,
        b.duty_post_name,
        b.PROCESS,
        b.checker_id,
        b.perform_user_id,
        b.handler_dept_id,
        b.duty_post_id,
        b.HOUR,
        b.MIN,
        b.perform_weeks,
        b.perform_months,
        b.perform_day,
        b.create_org_id,
        b.msg_door,
        b.msg_hour,
        b.msg_min,
        b.send_range,
        b.perform_dept_name,
        b.perform_dept_id,
        b.perform_group_id,
        b.perform_group_name,
        b.DAY,
        b.receive_role_name,
        b.receive_role_id,
        b.task_id,
        b.scheduling_id,
        b.task_no,
        b.perform_user_name,
        b.handler_dept_name,
        b.task_title,
        b.task_description,
        b.task_effect_date,
        b.task_failure_date,
        b.CHARACTERS,
        b.task_type_id,
        b.start_time,
        b.task_hours_worked,
        b.task_cycle,
        b.task_frequency,
        c.*,
        (
        select ogp.GRPNAME from OG_GROUP ogp
        where ogp.GROUPID = a.PERFORM_GROUP_Id
        ) as grpname,
        (
        select oor.ORGNAME from OG_ORG oor
        where oor.ORGID = a.PERFORM_DEPT_id
        ) as ogoname,
        og.pname createname,
        o.orgname orgname
        FROM
        SM_BIZ_TASKINFO a LEFT JOIN sm_biz_task b on a.task_id=b.task_id
        LEFT JOIN sm_biz_scheduling c on b.scheduling_id=c.scheduling_id
        LEFT JOIN og_person og ON c.CREATOR_ID = og.pid
        LEFT JOIN OG_ORG o on c.creator_dept_id = o.orgid
        and a.invalidation_mark='1'
        and a.task_form_status = '02'
        and c.plan_type = '1'
        and c.plan_status in ('04','05')
        where a.TASK_ID = #{taskId}
    </select>



    <select id="selectSmBizTaskinfoTwoSList" parameterType="SmBizTaskinfo" resultMap="SmBizTaskinfoResult">
        select
        a.TASK_FORM_ID,
        a.TASK_FROM_NO,
        c.SCHEDULING_NAME schedulingName,
        a.PUBLISH_TIME,
        b.PERFORM_GROUP_NAME,
        b.PERFORM_DEPT_NAME,
        c.CREATOR_ID,
        a.EXCUTE_DESCRIPTION,
        og2.pname performUserName,
        a.work_begin_time,
        a.TASK_FORM_STATUS,
        a.perform_date,
        og.pname createname,
        (
        select ogp.GRPNAME from OG_GROUP ogp
        where ogp.GROUPID = a.PERFORM_GROUP_Id
        ) as grpname,
        (
        select oor.ORGNAME from OG_ORG oor
        where oor.ORGID = a.PERFORM_DEPT_id
        ) as ogoname
        from
        sm_biz_taskinfo a,
        sm_biz_task b,
        sm_biz_scheduling c,
        og_person og,
        OG_ORG o,
        og_person og2
        where a.task_id=b.task_id
        and b.scheduling_id=c.scheduling_id
        and c.CREATOR_ID = og.pid
        and og2.pid = a.PERFORM_USER_ID
        and c.creator_dept_id = o.orgid
        and a.invalidation_mark='1'
        and a.task_form_status = '03'
        and c.plan_type = '1'
        and c.plan_status in ('04','05','06')
        <if test="taskFromNo !=null and taskFromNo !='' ">
            and a.TASK_FROM_NO like concat(concat('%', #{taskFromNo}),'%')
        </if>
        <if test="smBizScheduling.schedulingName !=null and smBizScheduling.schedulingName !='' ">
            and c.SCHEDULING_NAME like concat(concat('%', #{smBizScheduling.schedulingName}),'%')
        </if>
        <if test="performUserName !=null and performUserName !='' ">
            and og2.pname like concat(concat('%', #{performUserName}),'%')
        </if>
        <if test="publishTime !=null and publishTime!=''">
            and a.publish_time &gt;=#{publishTime}
        </if>
        <if test="endPublishTime !=null and endPublishTime!=''">
            and a.publish_time &lt;=#{endPublishTime}
        </if>
        <if test="workBeginTime !=null and workBeginTime!=''">
            and a.work_begin_time &gt;=#{workBeginTime}
        </if>
        <if test="endworkBeginTime !=null and endworkBeginTime!=''">
            and a.work_begin_time &lt;=#{endworkBeginTime}
        </if>
        order by a.work_begin_time desc
    </select>


    <select id="selectFillLxbgList" parameterType="SmBizTaskinfo" resultMap="SmBizTaskinfoResult">
      select t.* from (
        SELECT
            A .TASK_FORM_ID,
            A .TASK_FROM_NO,
            b.TASK_TYPE_ID,
            b.TASK_TITLE,
            A .PERFORM_GROUP_Id,
            A .PERFORM_DEPT_id,
            A .PUBLISH_TIME,
            (
                SELECT
                    ogp.GRPNAME
                FROM
                    OG_GROUP ogp
                WHERE
                    ogp.GROUPID = A .PERFORM_GROUP_Id
            ) AS grpname,
            (
                SELECT
                    oor.ORGNAME
                FROM
                    OG_ORG oor
                WHERE
                    oor.ORGID = A .PERFORM_DEPT_id
            ) AS ogoname,
            og.pname createname,
            o.orgname orgname,
            A .update_time,
            A .perform_date
        FROM
            SM_BIZ_TASKINFO A
        LEFT JOIN SM_BIZ_TASK b ON A .TASK_ID = b.TASK_ID
        LEFT JOIN SM_BIZ_SCHEDULING c ON c.SCHEDULING_ID = b.SCHEDULING_ID
        LEFT JOIN og_person og ON c.CREATOR_ID = og.pid
        LEFT JOIN OG_ORG o ON c.creator_dept_id = o.orgid
        where
        A .invalidation_mark = '1'
        AND A .task_form_status = '02'
        AND c.plan_status IN ('04', '05')
        AND c.plan_type = '1'
        ) t
        <where>
        <if test="taskFromNo !=null and taskFromNo !='' ">
            and TASK_FROM_NO like concat(concat('%', #{taskFromNo}),'%')
        </if>
        <if test="smBizTask.taskTypeId != null and smBizTask.taskTypeId != ''">
            AND (TASK_TYPE_ID like concat(concat('%', #{smBizTask.taskTypeId}),'%'))
        </if>
        <if test="smBizTask.taskTitle !=null and smBizTask.taskTitle !='' ">
            and (TASK_TITLE like concat(concat('%', #{smBizTask.taskTitle}),'%'))
        </if>
        <if test="ogoname !=null and ogoname != ''  ">
            and  ogoname like concat(concat('%', #{ogoname}),'%') or grpname  like concat(concat('%', #{ogoname}),'%')
        </if>
        <if test="smBizScheduling.createName !=null and smBizScheduling.createName !='' ">
            and createname like concat(concat('%', #{smBizScheduling.createName}),'%')
        </if>
        <if test="smBizScheduling.orgName !=null and smBizScheduling.orgName !='' ">
            and orgname like  concat(concat('%', #{smBizScheduling.orgName}),'%')
        </if>
        <if test="planStartDate !=null and planStartDate !=''">
            and perform_date &gt;=to_char(to_date( #{planStartDate},'YYYY-MM-DD HH24:MI:SS'), 'YYYYMMDDHH24MISS')
        </if>
        <if test="planEndDate !=null and planEndDate !=''">
            and perform_date &lt;=to_char(to_date( #{planEndDate},'YYYY-MM-DD HH24:MI:SS')+1, 'YYYYMMDDHH24MISS')
        </if>
        </where>
        order by update_time desc

    </select>

</mapper>