<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.activiti.mapper.TaskMapper">

	<resultMap type="SmBizTask" id="SmBizTaskResult">
		<id property="taskId" column="task_id"></id>
		<result property="updateTime"    column="update_time"    />
		<result property="performTime"    column="perform_time"    />
		<result property="invalidationMark"    column="invalidation_mark"    />
		<result property="workStatus"    column="work_status"    />
		<result property="createTime"    column="create_time"    />
		<result property="dutyPostName"    column="duty_post_name"    />
		<result property="process"    column="process"    />
		<result property="checkerId"    column="checker_id"    />
		<result property="performUserId"    column="perform_user_id"    />
		<result property="handlerDeptId"    column="handler_dept_id"    />
		<result property="dutyPostId"    column="duty_post_id"    />
		<result property="hour"    column="hour"    />
		<result property="min"    column="min"    />
		<result property="performWeeks"    column="perform_weeks"    />
		<result property="performMonths"    column="perform_months"    />
		<result property="performDay"    column="perform_day"    />
		<result property="createOrgId"    column="create_org_id"    />
		<result property="msgDoor"    column="msg_door"    />
		<result property="msgHour"    column="msg_hour"    />
		<result property="msgMin"    column="msg_min"    />
		<result property="sendRange"    column="send_range"    />
		<result property="performDeptName"    column="perform_dept_name"    />
		<result property="performDeptId"    column="perform_dept_id"    />
		<result property="performGroupId"    column="perform_group_id"    />
		<result property="performGroupName"    column="perform_group_name"    />
		<result property="day"    column="day"    />
		<result property="receiveRoleName"    column="receive_role_name"    />
		<result property="receiveRoleId"    column="receive_role_id"    />
		<result property="schedulingId"    column="scheduling_id"    />
		<result property="taskNo"    column="task_no"    />
		<result property="performUserName"    column="perform_user_name"    />
		<result property="handlerDeptName"    column="handler_dept_name"    />
		<result property="taskTitle"    column="task_title"    />
		<result property="taskDescription"    column="task_description"    />
		<result property="taskEffectDate"    column="task_effect_date"    />
		<result property="taskFailureDate"    column="task_failure_date"    />
		<result property="character"    column="character"    />
		<result property="taskTypeId"    column="task_type_id"    />
		<result property="startTime"    column="start_time"    />
		<result property="taskHoursWorked"    column="task_hours_worked"    />
		<result property="taskCycle"    column="task_cycle"    />
		<result property="taskFrequency"    column="task_frequency"    />
	</resultMap>

	<sql id="selectSmBizTaskVo">
		SELECT
			update_time,
			perform_time,
			invalidation_mark,
			work_status,
			create_time,
			duty_post_name,
			PROCESS,
			checker_id,
			perform_user_id,
			handler_dept_id,
			duty_post_id,
			HOUR,
			MIN,
			perform_weeks,
			perform_months,
			perform_day,
			create_org_id,
			msg_door,
			msg_hour,
			msg_min,
			send_range,
			perform_dept_name,
			perform_dept_id,
			perform_group_id,
			perform_group_name,
			DAY,
			receive_role_name,
			receive_role_id,
			task_id,
			scheduling_id,
			task_no,
			perform_user_name,
			handler_dept_name,
			task_title,
			task_description,
			task_effect_date,
			task_failure_date,
			CHARACTER,
			task_type_id,
			start_time,
			task_hours_worked,
			task_cycle,
			task_frequency
			FROM
			sm_biz_task
	</sql>


	<delete id="deleteById" parameterType="java.lang.String">
		delete from sm_biz_task where task_id = #{taskId}
	</delete>


	<select id="selectTaskById" parameterType="java.lang.String" resultMap="SmBizTaskResult">
		<include refid="selectSmBizTaskVo"></include>
		WHERE task_id = #{taskId}

	</select>


	<select id="selectSchedulingId" parameterType="java.lang.String" resultMap="SmBizTaskResult">
		<include refid="selectSmBizTaskVo"></include>
		WHERE scheduling_id = #{schedulingId,jdbcType=VARCHAR}

	</select>



	<insert id="insertTask" parameterType="SmBizTask">
		insert into sm_biz_task
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="updateTime != null  and updateTime != ''">update_time,</if>
			<if test="performTime != null  and performTime != ''">perform_time,</if>
			<if test="invalidationMark != null  and invalidationMark != ''">invalidation_mark,</if>
			<if test="workStatus != null  and workStatus != ''">work_status,</if>
			<if test="createTime != null  and createTime != ''">create_time,</if>
			<if test="dutyPostName != null ">duty_post_name,</if>
			<if test="process != null  and process != ''">process,</if>
			<if test="checkerId != null  and checkerId != ''">checker_id,</if>
			<if test="performUserId != null  and performUserId != ''">perform_user_id,</if>
			<if test="handlerDeptId != null  and handlerDeptId != ''">handler_dept_id,</if>
			<if test="dutyPostId != null  and dutyPostId != ''">duty_post_id,</if>
			<if test="hour != null  and hour != ''">hour,</if>
			<if test="min != null  and min != ''">min,</if>
			<if test="performWeeks != null  and performWeeks != ''">perform_weeks,</if>
			<if test="performMonths != null  and performMonths != ''">perform_months,</if>
			<if test="performDay != null  and performDay != ''">perform_day,</if>
			<if test="createOrgId != null  and createOrgId != ''">create_org_id,</if>
			<if test="msgDoor != null  and msgDoor != ''">msg_door,</if>
			<if test="msgHour != null  and msgHour != ''">msg_hour,</if>
			<if test="msgMin != null  and msgMin != ''">msg_min,</if>
			<if test="sendRange != null  and sendRange != ''">send_range,</if>
			<if test="performDeptName != null  and performDeptName != ''">perform_dept_name,</if>
			<if test="performDeptId != null  and performDeptId != ''">perform_dept_id,</if>
			<if test="performGroupId != null  and performGroupId != ''">perform_group_id,</if>
			<if test="performGroupName != null  and performGroupName != ''">perform_group_name,</if>
			<if test="day != null  and day != ''">day,</if>
			<if test="receiveRoleName != null ">receive_role_name,</if>
			<if test="receiveRoleId != null  and receiveRoleId != ''">receive_role_id,</if>
			<if test="taskId != null  and taskId != ''">task_id,</if>
			<if test="schedulingId != null  and schedulingId != ''">scheduling_id,</if>
			<if test="taskNo != null  and taskNo != ''">task_no,</if>
			<if test="performUserName != null ">perform_user_name,</if>
			<if test="handlerDeptName != null ">handler_dept_name,</if>
			<if test="taskTitle != null  and taskTitle != ''">task_title,</if>
			<if test="taskDescription != null  and taskDescription != ''">task_description,</if>
			<if test="taskEffectDate != null  and taskEffectDate != ''">task_effect_date,</if>
			<if test="taskFailureDate != null  and taskFailureDate != ''">task_failure_date,</if>
			<if test="character != null  and character != ''">character,</if>
			<if test="taskTypeId != null  and taskTypeId != ''">task_type_id,</if>
			<if test="startTime != null  and startTime != ''">start_time,</if>
			<if test="taskHoursWorked != null  and taskHoursWorked != ''">task_hours_worked,</if>
			<if test="taskCycle != null  and taskCycle != ''">task_cycle,</if>
			<if test="taskFrequency != null  and taskFrequency != ''">task_frequency,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="updateTime != null  and updateTime != ''">#{updateTime},</if>
			<if test="performTime != null  and performTime != ''">#{performTime},</if>
			<if test="invalidationMark != null  and invalidationMark != ''">#{invalidationMark},</if>
			<if test="workStatus != null  and workStatus != ''">#{workStatus},</if>
			<if test="createTime != null  and createTime != ''">#{createTime},</if>
			<if test="dutyPostName != null ">#{dutyPostName},</if>
			<if test="process != null  and process != ''">#{process},</if>
			<if test="checkerId != null  and checkerId != ''">#{checkerId},</if>
			<if test="performUserId != null  and performUserId != ''">#{performUserId},</if>
			<if test="handlerDeptId != null  and handlerDeptId != ''">#{handlerDeptId},</if>
			<if test="dutyPostId != null  and dutyPostId != ''">#{dutyPostId},</if>
			<if test="hour != null  and hour != ''">#{hour},</if>
			<if test="min != null  and min != ''">#{min},</if>
			<if test="performWeeks != null  and performWeeks != ''">#{performWeeks},</if>
			<if test="performMonths != null  and performMonths != ''">#{performMonths},</if>
			<if test="performDay != null  and performDay != ''">#{performDay},</if>
			<if test="createOrgId != null  and createOrgId != ''">#{createOrgId},</if>
			<if test="msgDoor != null  and msgDoor != ''">#{msgDoor},</if>
			<if test="msgHour != null  and msgHour != ''">#{msgHour},</if>
			<if test="msgMin != null  and msgMin != ''">#{msgMin},</if>
			<if test="sendRange != null  and sendRange != ''">#{sendRange},</if>
			<if test="performDeptName != null  and performDeptName != ''">#{performDeptName},</if>
			<if test="performDeptId != null  and performDeptId != ''">#{performDeptId},</if>
			<if test="performGroupId != null  and performGroupId != ''">#{performGroupId},</if>
			<if test="performGroupName != null  and performGroupName != ''">#{performGroupName},</if>
			<if test="day != null  and day != ''">#{day},</if>
			<if test="receiveRoleName != null ">#{receiveRoleName},</if>
			<if test="receiveRoleId != null  and receiveRoleId != ''">#{receiveRoleId},</if>
			<if test="taskId != null  and taskId != ''">#{taskId},</if>
			<if test="schedulingId != null  and schedulingId != ''">#{schedulingId},</if>
			<if test="taskNo != null  and taskNo != ''">#{taskNo},</if>
			<if test="performUserName != null ">#{performUserName},</if>
			<if test="handlerDeptName != null ">#{handlerDeptName},</if>
			<if test="taskTitle != null  and taskTitle != ''">#{taskTitle},</if>
			<if test="taskDescription != null  and taskDescription != ''">#{taskDescription},</if>
			<if test="taskEffectDate != null  and taskEffectDate != ''">#{taskEffectDate},</if>
			<if test="taskFailureDate != null  and taskFailureDate != ''">#{taskFailureDate},</if>
			<if test="character != null  and character != ''">#{character},</if>
			<if test="taskTypeId != null  and taskTypeId != ''">#{taskTypeId},</if>
			<if test="startTime != null  and startTime != ''">#{startTime},</if>
			<if test="taskHoursWorked != null  and taskHoursWorked != ''">#{taskHoursWorked},</if>
			<if test="taskCycle != null  and taskCycle != ''">#{taskCycle},</if>
			<if test="taskFrequency != null  and taskFrequency != ''">#{taskFrequency},</if>
		</trim>
	</insert>



	<update id="updateTask" parameterType="SmBizTask">
		update sm_biz_task
		<trim prefix="SET" suffixOverrides=",">
			<if test="performTime != null  and performTime != ''">perform_time = #{performTime},</if>
			<if test="invalidationMark != null  and invalidationMark != ''">invalidation_mark = #{invalidationMark},</if>
			<if test="workStatus != null  and workStatus != ''">work_status = #{workStatus},</if>
			<if test="createTime != null  and createTime != ''">create_time = #{createTime},</if>
			<if test="dutyPostName != null ">duty_post_name = #{dutyPostName},</if>
			<if test="process != null  and process != ''">process = #{process},</if>
			<if test="checkerId != null  and checkerId != ''">checker_id = #{checkerId},</if>
			<if test="performUserId != null  and performUserId != ''">perform_user_id = #{performUserId},</if>
			<if test="handlerDeptId != null  and handlerDeptId != ''">handler_dept_id = #{handlerDeptId},</if>
			<if test="dutyPostId != null  and dutyPostId != ''">duty_post_id = #{dutyPostId},</if>
			<if test="hour != null  and hour != ''">hour = #{hour},</if>
			<if test="min != null  and min != ''">min = #{min},</if>
			<if test="performWeeks != null  and performWeeks != ''">perform_weeks = #{performWeeks},</if>
			<if test="performMonths != null  and performMonths != ''">perform_months = #{performMonths},</if>
			<if test="performDay != null  and performDay != ''">perform_day = #{performDay},</if>
			<if test="createOrgId != null  and createOrgId != ''">create_org_id = #{createOrgId},</if>
			msg_door = #{msgDoor},
			<if test="msgHour != null  and msgHour != ''">msg_hour = #{msgHour},</if>
			<if test="msgMin != null  and msgMin != ''">msg_min = #{msgMin},</if>
			send_range = #{sendRange,jdbcType=VARCHAR},
			perform_dept_name = #{performDeptName},
			perform_dept_id = #{performDeptId},
			perform_group_id = #{performGroupId},
			perform_group_name = #{performGroupName},
			<if test="day != null  and day != ''">day = #{day},</if>
			<if test="receiveRoleName != null ">receive_role_name = #{receiveRoleName},</if>
			<if test="receiveRoleId != null  and receiveRoleId != ''">receive_role_id = #{receiveRoleId},</if>
			<if test="updateTime != null  and updateTime != ''">update_time = #{updateTime},</if>
			<if test="schedulingId != null  and schedulingId != ''">scheduling_id = #{schedulingId},</if>
			<if test="taskNo != null  and taskNo != ''">task_no = #{taskNo},</if>
			<if test="performUserName != null ">perform_user_name = #{performUserName},</if>
			<if test="handlerDeptName != null ">handler_dept_name = #{handlerDeptName},</if>
			<if test="taskTitle != null  and taskTitle != ''">task_title = #{taskTitle},</if>
			<if test="taskDescription != null  and taskDescription != ''">task_description = #{taskDescription},</if>
			<if test="taskEffectDate != null  and taskEffectDate != ''">task_effect_date = #{taskEffectDate},</if>
			<if test="taskFailureDate != null  and taskFailureDate != ''">task_failure_date = #{taskFailureDate},</if>
			<if test="character != null  and character != ''">character = #{character},</if>
			<if test="taskTypeId != null  and taskTypeId != ''">task_type_id = #{taskTypeId},</if>
			<if test="startTime != null  and startTime != ''">start_time = #{startTime},</if>
			<if test="taskHoursWorked != null  and taskHoursWorked != ''">task_hours_worked = #{taskHoursWorked},</if>
			<if test="taskCycle != null  and taskCycle != ''">task_cycle = #{taskCycle},</if>
			<if test="taskFrequency != null  and taskFrequency != ''">task_frequency = #{taskFrequency},</if>
		</trim>
		where task_id = #{taskId,jdbcType=VARCHAR}
	</update>
	<update id="updateTaskByDelay" parameterType="SmBizTask">
		update sm_biz_task
		<trim prefix="SET" suffixOverrides=",">
			<if test="startTime != null  and startTime != ''">start_time = #{startTime},</if>
		</trim>
		where task_id = #{taskId,jdbcType=VARCHAR}
	</update>


</mapper>