@CHARSET "UTF-8";

body {
    overflow: hidden;
}

html,
body,
div,
span,
p {
    margin: 0;
    padding: 0;
    border: 0;
}

html,
body {
    width: 100vw;
    height: 100vh;
}

.rtc-wrapper {
    /*position: absolute;*/
    /* 浏览器模式 */
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*z-index: 99998;*/
}

.clear {
    clear: both;
    z-index: 99;
}

.popup-video-screen-div {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    font-family: 微软雅黑;
    background-color: black;
}
.video-screen-bg{
background:url(../img/avatar.png) no-repeat 50px 50px
}

.popup-video-screen-div-fullscreen {
    position: absolute;
    font-family: 微软雅黑;
    left: 0px;
    top: 0px;
    z-index: 999999;
    background-color: #000000;
    text-align: center;
    width: 100%;
    height: 100%;
}

.rtc-wphone-video-screen {
    width: 100%;
    height: 100%;
    background-color: #000000;
}

.rtc-default-video-screen {
    width: auto;
    height: 420px;
    left: 783px;
    top: 172px;
    text-align: center;
    background-color: #000000;
    z-index:9999999999999;
    position: absolute;
}

.video-head {
    width: 100%;
    height: 30px;
    top: 0px;
    z-index: 999;
    background: #000000;
}

.main-video-change-fullscreen {
    width: auto;
    height: 100%;
}

.main-video-change {
    width: auto;
    height: calc(100% - 30px);
    z-index:9999999999999;
}

.main-video-box-fullscreen {
    width: 100%;
    height: calc(100% - 60px);
}

.main-video-box {
    width: 100%;
    height: calc(100% - 60px);
    text-align: center;
    background-color: #000000;
}
.voicebg{
    background: url(../img/voicebg.jpg)
}
.photoPrewDiv {
    z-index:9999;width:100%;height:calc(100% - 30px);text-align:center;
}
.controller {
    width: 100%;
    height: 30px;
    border: 0px solid #FFFFFF;
    border-radius: 0 0 5px 5px;
}

.controller-inner {
    height: 30px;
    width: auto;
    line-height: 30px;
    background-color: #202122;
    border-radius: 0 0 5px 5px;
}
.download-btn{
    width:50px;
    height:30px;
}
.closePic-btn{
    width:50px;
    height:30px;
}
.video-opt-btn{
    width: 50px;
    height: 30px;
    cursor: pointer;
    color: #BDC6CF;
}
.video-opt-btn-r{
    width: 50px;
    height: 30px;
    cursor: pointer;
    color: #BDC6CF;
}

.record-btn{
    float: left;
    width: 15px;
    height: 26px;
}
.record-btn-s{
    float: left;
    width: 15px;
    height: 26px;
}
.server-record-btn{
    float: left;
    width: 15px;
    height: 26px;
}
.server-record-btn-s{
    float: left;
    width: 15px;
    height: 26px;
}
.divided-record-btn{
    float: left;
    width: 15px;
    height: 26px;
}
.divided-record-btn-s{
    float: left;
    width: 15px;
    height: 26px;
}


.resetPlayers-btn{
    width:30px;
    height:30px;
    cursor: pointer;
    color: #BDC6CF;
}
.father-class {
    position: absolute;
    left: 20%;
    top: 10%;
    background-color: black;
}

.main-video-class {
    width: auto;
    height: 480px;
    z-index: 99;
    max-width: 1000px;
    background-color: #000000;
}

.small-video-class {
    width: auto;
    height: 80px;
    position: absolute;
    right: 0;
    bottom: 30px;
    z-index: 100;

}

.small-video-change {
    width: auto;
    height: 160px;
    position: fixed;
    right: 0;
    bottom: 30px;
    z-index: 100;
}

.left-video-class {
    width: 100px;
    height: 80px;
    position: absolute;
    right: 103px;
    bottom: 30px;
    z-index: 100;
}

.left-video-change {
    width: 200px;
    height: 160px;
    position: fixed;
    right: 203px;
    bottom: 30px;
    z-index: 100;
}

.controller-change {
    width: 100%;
    height: 30px;
    position: fixed;
    right: 0;
    bottom: 0px;
    z-index: 100;
}

.head-hide {
    float: right;
    background: url(../img/hide.png) no-repeat center;
    width: 30px;
    height: 30px;
}

.head-hide:hover {
    background: url(../img/hide_p.png) no-repeat center;
}

.head-close {
     float: right;
     background: url(../img/close.png) no-repeat center;
     width: 30px;
     height: 30px;
 }
.head-close {
    float: right;
    background: url(../img/close.png) no-repeat center;
    width: 30px;
    height: 30px;
}
.head-close {
    float: right;
    background: url(../img/close.png) no-repeat center;
    width: 30px;
    height: 30px;
}

.head-close:hover {
    background: url(../img/close_p.png) no-repeat center;
}

.hide-video {
    width: 40px;
    height: 40px;
    float: right;
    margin: 5px;
    border-radius: 50%;
    background-size: 100%;
    background: red;
    z-index: 101;
}

.wenzi {
    position: absolute;
    float: left;
    top: 100px;
    color: #f00;
    width: 220px;
    height: 30px;
    text-align: center;
    z-index: 1;
    display: none;
}
#mp4Player{
    width:50%;
    float: left;
}
.video-tips-div{
    position: absolute;
    bottom: 25%;
    width: 100%;
    height: 30px;
    opacity: 0.8;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
}
.record-choose-div{
    width: 86px;
    height: 78px;
    position:absolute;
    bottom: 30px;
    background-color: #ffffff;
    border-radius: 5px;
    font-size: 12px;
}
.record-choose-item{
    height: 26px;
    width: 100%;
    line-height: 26px;
    cursor: pointer;
}
.record-choose-item:hover{
    background-color: #e4e7eb;
}
.record-choose-item:hover{
    background-color: #e4e7eb;
}
.brage-btn {
    /* position: absolute; */
    width: 70px;
    height: 30px;
    margin-left: 10px;
    background-color: #f9faff;
    border-radius: 5px;
    cursor: default;
    border: 1px solid #000000;
    margin-top: 3px;
    font-weight: bold;
}
.qipao{
    width: 300px;
    height: 40px;
    margin: 5px 0 20px 100px;
    background: #EEEEEE;
    text-align: center;
    padding-top: 10px;
    font-size: 16px;
    border-radius: 10px;
}
.demo{
    width: 15px;
    height: 15px;
    background: #EEEEEE;
    transform: rotate(44deg);
    margin-bottom: 200px;
    float: right;
    margin-right: -300px;
}
