<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.CategoryMapper">

    <resultMap type="SysCategory" id="SysCategoryResult">
        <id     property="categoryId"     column="category_id"   jdbcType="BIGINT"  />
        <result property="categoryTypeCode"   column="category_type_code"   />
        <result property="categoryTypeName"  column="category_type_name"   />
        <result property="categoryParentId"   column="category_parent_id"   />
        <result property="categoryCode"   column="category_code"   />
        <result property="categoryName"     column="category_name"      />
        <result property="ancestors"      column="ancestors"       />
        <result property="remark"      column="remark"       />
        <result property="delFlag"     column="del_flag"      />
        <result property="careteBy"    column="carete_by"    />
        <result property="careteTime" column="carete_time" />
        <result property="updateBy"   column="update_by"   />
        <result property="updateTime" column="update_time" />
        <result property="tier"   column="tier"   />
        <result property="updateTime" column="update_time" />
        <result property="parentName" column="parent_name"></result>
        <result property="orderNum" column="order_num"></result>
    </resultMap>

    <sql id="selectDeptVo">
       select c.*,(select category_name from sys_category where category_id = c.category_parent_id) parent_name
        from SYS_CATEGORY c

    </sql>

    <select id="selectCategoryList" parameterType="SysCategory" resultMap="SysCategoryResult">
        <include refid="selectDeptVo"/>
        where c.del_flag = '0'
        <if test="categoryParentId!=null and categoryParentId!=''">
            and c.category_parent_id = #{categoryParentId}
        </if>
        <if test="categoryCode!=null and categoryCode!=''">
            and c.category_code like concat(concat('%',#{categoryCode}),'%')
        </if>
        <if test="categoryName!=null and categoryName!=''">
            and c.category_name like concat(concat('%',#{categoryName}),'%')
        </if>
    </select>
    <select id="selectCategoryById" parameterType="java.lang.Long" resultMap="SysCategoryResult">
		select c.order_num,c.category_id,c.category_type_code,c.category_type_name,c.category_parent_id,c.category_code,c.category_name,c.ancestors,c.remark,c.del_flag,c.create_by,c.create_time,c.update_by,c.update_time,c.tier,
        (select category_name from sys_category where category_id = c.category_parent_id) parent_name
        from SYS_CATEGORY c
        where c.category_id = #{categoryId}
	</select>

    <select id="selectAncestors" parameterType="java.lang.Long" resultType="java.lang.String">
        select ancestors from sys_category
        where category_id = #{parentId}
    </select>

    <insert id="insertCategory" parameterType="SysCategory" useGeneratedKeys="false" keyProperty="categoryId">
        insert into sys_category(
            category_id,
            <if test="orderNum!=null and orderNum!=0">order_num,</if>
            <if test="remark!=null and remark!=''">remark,</if>
            <if test="ancestors!=null and ancestors!=''">ancestors,</if>
            <if test="tier!=null and tier!=''">tier,</if>
            <if test="createBy!=null and createBy!=''">create_by,</if>
            <if test="categoryTypeCode!=null and categoryTypeCode!=''">category_type_code,</if>
            <if test="categoryTypeName!=null and categoryTypeName!=''">category_type_name,</if>
            <if test="categoryParentId!=null and categoryParentId!=0">category_parent_id,</if>
            <if test="categoryCode!=null and categoryCode!=''">category_code,</if>
            <if test="categoryName!=null and categoryName!=''">category_name,</if>
            create_time
        )values(
            seq_sys_category.nextval,
            <if test="orderNum!=null and orderNum!=0">#{orderNum},</if>
            <if test="remark!=null and remark!=''">#{remark},</if>
            <if test="ancestors!=null and ancestors!=''">#{ancestors},</if>
            <if test="tier!=null and tier!=''">#{tier},</if>
            <if test="createBy!=null and createBy!=''">#{createBy},</if>
            <if test="categoryTypeCode!=null and categoryTypeCode!=''">#{categoryTypeCode},</if>
            <if test="categoryTypeName!=null and categoryTypeName!=''">#{categoryTypeName},</if>
            <if test="categoryParentId!=null and categoryParentId!=0">#{categoryParentId},</if>
            <if test="categoryCode!=null and categoryCode!=''">#{categoryCode},</if>
            <if test="categoryName!=null and categoryName!=''">#{categoryName},</if>
            sysdate
        )
    </insert>


    <update id="updateCategoryByTier" parameterType="SysCategory">
        update sys_category
        set tier = #{tier}
        where category_id = #{categoryId,jdbcType=BIGINT}
    </update>

    <delete id="deleteCategoryByIds" parameterType="Long">
        update sys_category set del_flag = '2' where category_id in
        <foreach collection="array" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>

    <update id="updateCategory" parameterType="SysCategory">
        update sys_category
        <set>
            <if test="orderNum!=null and orderNum!=0">
                order_num = #{orderNum},
            </if>
            <if test="remark!=null and remark!=''">
                remark = #{remark},
            </if>
            <if test="updateBy!=null and updateBy!=''">
                update_by = #{updateBy},
            </if>
            <if test="updateTime!=null">
                update_time = sysdate,
            </if>
            <if test="categoryParentId!=null and categoryParentId!=0">
                category_parent_id = #{categoryParentId,jdbcType=BIGINT},
            </if>
            <if test="categoryTypeCode!=null and categoryTypeCode!=''">
                category_type_code = #{categoryTypeCode},
            </if>
            <if test="categoryTypeName!=null and categoryTypeName!=''">
                category_type_name = #{categoryTypeName},
            </if>
            <if test="categoryCode!=null and categoryCode!=''">
                category_code = #{categoryCode},
            </if>
            <if test="categoryName!=null and categoryName!=''">
                category_name = #{categoryName}
            </if>

        </set>
        where category_id = #{categoryId,jdbcType=BIGINT}
    </update>
</mapper>