<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.PubParaMapper">
    <resultMap id="pubParaResult" type="PubPara">
        <id property="paraId" column="PARA_ID" jdbcType="VARCHAR"></id>
        <result property="paraName" column="PARA_NAME"></result>
        <result property="paraExplain" column="PARA_EXPLAIN"></result>
        <result property="state" column="STATE"></result>
        <result property="updateFlag" column="UPDATE_FLAG"></result>
    </resultMap>


    <sql id="selectParaNameVo">
          select p.para_id,p.para_name,p.para_explain,p.state,p.update_flag
             from pub_para p
    </sql>
    <select id="selectPubParaList" resultMap="pubParaResult" parameterType="PubPara">
        <include refid="selectParaNameVo"/>
        where 1 = 1
        <if test="paraName!=null and paraName!=''">and para_name like concat('%',concat(#{paraName},'%'))</if>
        <if test="updateFlag!=null and updateFlag!=''">and update_flag =#{updateFlag}</if>
        <if test="paraExplain != null and paraExplain !=''"> and para_explain like concat('%',concat(#{paraExplain},'%'))</if>
    </select>

    <select id="checkParaNameUnique" parameterType="String" resultMap="pubParaResult">
        <include refid="selectParaNameVo"/>
        where para_name = #{paraName}
    </select>

    <select id="selectPubParaById" parameterType="String" resultMap="pubParaResult">
        <include refid="selectParaNameVo"></include>
        where p.para_id = #{paraId}
    </select>

    <insert id="insertPubPara" parameterType="PubPara">
        insert into pub_para
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="paraId!=null and paraId!=''">para_id,</if>
            <if test="paraName!=null and paraName!=''">para_name,</if>
            <if test="paraExplain!=null and paraExplain!=''">para_explain,</if>
            <if test="state!=null and state!=''">state,</if>
           <if test="updateFlag!=null and updateFlag!=''">update_flag</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="paraId!=null and paraId!=''">#{paraId},</if>
            <if test="paraName!=null and paraName!=''">#{paraName},</if>
            <if test="paraExplain!=null and paraExplain!=''">#{paraExplain},</if>
            <if test="state!=null and state!=''">#{state},</if>
            <if test="updateFlag!=null and updateFlag!=''">#{updateFlag}</if>
        </trim>
    </insert>

    <update id="updatePubParaById" parameterType="PubPara">
        update pub_para
        <trim prefix="SET" suffixOverrides=",">
        <if test="paraName!=null and paraName!=''">
            para_name = #{paraName},
        </if>
        <if test="paraExplain!=null and paraExplain!=''">
            para_explain = #{paraExplain},
        </if>
        <if test="state!=null and state!=''">
            state = #{state},
        </if>
        </trim>
        where para_id = #{paraId}
    </update>
    <delete id="deleteByParaId" parameterType="String">
        delete from pub_para where para_id =#{paraId,jdbcType=VARCHAR}
    </delete>
</mapper>