<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SynchronizeUserMapper">

	<resultMap type="SynchronizeUser" id="SynchronizeUserResult">
		<id     property="id"       column="id"        />
		<result property="servicename"     column="service_name"      />
		<result property="serviceurl"       column="service_url"         />
		<result property="jsonParam"       column="json_param"         />
	</resultMap>

	<select id="selectList" parameterType="java.util.List" resultMap="SynchronizeUserResult">
        select id, service_name, service_url, json_param
        from synchronize_user
    </select>

</mapper>