<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.form.mapper.TwAppNodeMapper">

    <select id="getTwAppNode" parameterType="com.ruoyi.form.entity.TwAppNode"
            resultType="com.ruoyi.form.entity.TwAppNode">

        SELECT * FROM tw_app_node where 1=1
        <if test="">

        </if>
    </select>

</mapper>
