.egooCallList{
   height: auto;
   position: absolute;
   z-index: 9999;
   width: 800px;
   background: #FFFFFF;
   box-shadow: 0px 0px 8px 0px #C5C8CA;
   border-radius: 5px;

 }
.egooCallList .searchLable{
  width: 37px;
  height: 12px;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #8F8F91;
}
.egooCallList .timeInput{
  width: 170px;
  height: 32px;
  background: #FFFFFF;
  border: 1px solid #E4E7EB;
  border-radius: 5px;
}
.egooCallList .phonenum{
  width: 170px;
  height: 32px;
  background: #FFFFFF;
  border: 1px solid #E4E7EB;
  border-radius: 5px;
}
.egooCallList .searchBtn{
  width: 90px;
  height: 32px;
  background: #0075F1;
  border-radius: 5px;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #FFFFFF;
  border:0px;
  margin-top: 5px;
}
.egooCallList .page{
/*  width: 36px;
  height: 12px;*/
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #666666;
  float: right;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-right: 23px;
}
.egooCallList .page button{
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #666666;
  border: 0px;
}

.egooCallList th{
  height: 40px;
  background: #F2F3F5;
  width: 28px;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #343434;
}
.egooCallList .table-bordered{
  border: 1px solid #dadada;
}
.egooCallList .dataline{
  height: 40px;
  font-style: normal;
  font-size: 13px;
  border: 0px;
  line-height: 40px;
}
.egooCallList .oddRows{
  background-color:#FFFFFF ;
}
.egooCallList .evenRows{
  width: 757px;
  height: 40px;
  background: #F7FCFF;
}
.egooCallList .dataline:hover{
  cursor: pointer;
  background-color: #edf8ff;
  border-bottom: 1px solid #64b5ff;
}
.egooCallList .dataline{
  cursor: pointer;
  border: 1px solid #dadada;
}
.egooCallList table{
  border-collapse: collapse;
}
.hide em{
  background: url(../images/hide_p.png);
  width: 16px;
  height: 16px;
  float: right;
  cursor: pointer;
}
.egooCallListSmall{
  width: 85px;
  height: 85px;
  cursor: move; position: absolute;border-radius: 20px;

}
.egooCallListSmall em{
  background: url(../images/calllistIcon_2.png);
  width: 74px;
  height: 74px;
  cursor: pointer;
  float: right;
}

.egooCallList .hide:hover{background-color: red;color: #FFFFFF;}
