.radius{
  padding-top: 5px;
  padding-bottom: 10px;
  padding-right: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 70px;
  width:auto; /*display:inline-block !important; display:inline;*/
  background-color: #4fbd60;
}
.cur_status_div{
  color: #0C85E2;
  font-size: 13px;
  text-align: center;
  height: 20px;
  line-height: 20px;
  padding: 10px;
  font-weight: bold
}
.duration-time-div{
  color: #0C85E2;font-size: 13px;width: 100%;text-align: center;height: 30px
}
.tphoneSmall{
  width: 74px;
  height: 74px;
  cursor: move; position: absolute; top: 200px;left: 20%;
  background: url(../images/circle_2.png);
}
.pull-left {
  float: left !important;
}
.phoneAction {
  margin-left: 11px;
  float: left;
  cursor: pointer;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    padding: 5px 18px 5px 18px;
}
.phoneAction em {
  width: 20px;
  height: 20px;
  /*margin-top: 22px;*/
  margin-left: 0px;
  float: left;
}
em, i，u {
  font-style: normal;
}
/* 监听 */
.listen-show em{
  /*  background: url(../images/phone_icon_1.png);
    background-position: -0px 425px;*/
  background: url(../images/phone_icon_1.png);
  background-position: 0px 696px;
}
/* 转接/咨询 */
.transfer_consult em{
  background: url(../images/phone_icon_1.png);
  background-position: 0px 596px;
}
/* 挂断 */
.btnReleaseCall em{
/* 外呼 background: url(../images/phone_icon_1.png);
  background-position: 0px 85px;*/
  background: url(../images/phone_icon_1.png);
  background-position: 0px 358px;
}
/* 挂断 */
.btnRejectCall em{
  /* 外呼 background: url(../images/phone_icon_1.png);
    background-position: 0px 85px;*/
  background: url(../images/phone_icon_1.png);
  background-position: 0px 186px;
}
.btnAnswerCall em{
  /* 外呼 background: url(../images/phone_icon_1.png);
    background-position: 0px 85px;*/
  background: url(../images/phone_icon_1.png);
  background-position: 0px 186px;
}
/* 保持 */
.btnHoldCall em{
  background: url(../images/phone_icon_1.png);
  background-position: 0px 391px;
}
/* 取回 */
.btnRetrieveCall em{
  background: url(../images/phone_icon_1.png);
  background-position: 0px 391px;
}
.btnMuteCall em{
  background: url(../images/phone_icon_1.png);
  background-position: 0px 118px;
}
.btnUnmuteCall em{
  background: url(../images/phone_icon_1.png);
  background-position: 0px 153px;
}
/* 转IVR */
.btnTransferIVR em{
/*  background: url(../images/phone_icon_1.png);
  background-position: 0px 289px;*/
  background: url(../images/phone_icon_1.png);
  background-position: 0px 561px;
}
/* 转满意度 */
.emotion em {
  background: url(../images/phone_icon_1.png);
  background-position: 0px 0px;
}
/* 处理结束 */
.handleOver em{
  background: url(../images/phone_icon_1.png);
  background-position: 0px 86px;
}
/* 呼叫 */
.btnMakeCall em{
  background:url(../images/phone_icon_1.png);
  background-position:-16px 509px;
}
/* 转移 */
.btnCompleteTransfer em{
  background: url(../images/phone_icon_1.png);
  background-position: 0px 631px;
}
/* 会议 */
.btnCompleteConference em{
/*  background: url(../images/phone_icon_1.png);
  background-position: 0px 392px;*/
  background: url(../images/phone_icon_1.png);
  background-position: -0px 664px;
}
/* 强插 */
.btnBargeIn em{
  background: url(../images/phone_icon_1.png);
  background-position: 0px 494px;
}
/* 强拆 */
.btnForceBreak em{
  background: url(../images/phone_icon_1.png);
  background-position: 0px 732px;
}
/* 强拆 */
.btnCancelMonitoring em{
  background: url(../images/phone_icon_1.png);
  background-position: 0px 358px;
}
/* 拦截 */
.btnIntercept em{
  background: url(../images/phone_icon_1.png);
  background-position: 0px 766px;
}
.notready em{
  background: url(../images/phone_icon_1.png);
  background-position: 0px 86px;
}
.login em{
  background: url(../images/phone_icon_1.png);
  background-position: 0px 222px;
}
.logout em{
  background: url(../images/phone_icon_1.png);
  background-position: 0px 187px;
}
.ready em{
  background: url(../images/phone_icon_1.png);
  background-position: 0px 290px;
}
.phoneAction span {
  height: 20px;
  float: left;
  margin-left: 5px;
  line-height: 20px;
  text-align: center;
}
.phoneAction span:hover{
  font-size: 16px;
}
.dialingNum{
  float: left;
  margin-left: 10px;
  width: 150px;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
/*    margin-top: 7px;*/
}
.dialingNum input{
  width: 120px;
  outline:none;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  color: #000000;
  cursor: pointer;
  height: 25px;
  float: left;
}

.dialingNum em{
  background: url(../images/phone_icon_1.png);
  background-position: 0px 255px;
  width: 20px;
  height: 20px;
  float: right;
  margin-right: 5px;
  margin-top: 5px;
  cursor: pointer;
}
.tphoneSmall em{
  background: url(../images/phone_icon_1.png);
  background-position: 0px 255px;
  width: 20px;
  height: 20px;
  float: right;
  margin-right: 5px;
  margin-top: 5px;
  cursor: pointer;
}
.dial-plate-text-div em{
  background: url(../images/delete.png);
  width: 18px;
  height: 16px;
  margin-top: 8px;
  cursor: pointer;
  margin-left: 5px;
}
.current_dnis em{
  background: url(../images/phone_icon_1.png);
  background-position: 0px 53px;
  width: 20px;
  height: 20px;
  float: left;
  cursor: pointer;
  margin-right: 5px;
  margin-top: 0px;
}
.hide-tphone em{
  background: url(../images/hide_p.png);
  width: 16px;
  height: 16px;
  float: right;
  cursor: pointer;
}
.setting-line em{
  background: url(../images/setting.png);
  width: 16px;
  height: 16px;
  float: right;
  cursor: pointer;
}
.btnCalllist em{
  background: url(../images/calllist.png);
  width: 16px;
  height: 16px;
  float: right;
  cursor: pointer;
}
.dialingNum span:hover{
  cursor: pointer;
}

.option{
  /*用div的样式代替select的样式*/
  margin: 100px;
  width: 90px;
  height: 40px;
  /*border-radius: 5px;*/
  /*盒子阴影修饰作用,自己随意*/
  /* box-shadow: 0 0 5px #ccc;*/
  border: 1px solid #cccccc;
  position: relative;
}
.option select{
  /*清除select的边框样式*/
  border: none;
  /*清除select聚焦时候的边框颜色*/
  outline: none;
  /*将select的宽高等于div的宽高*/
  width: 100%;
  height: 40px;
  line-height: 40px;
  /*隐藏select的下拉图标*/
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  /*通过padding-left的值让文字居中*/
  padding-left: 20px;
}
/*使用伪类给select添加自己想用的图标*/
.option:after{
  content: "";
  width: 14px;
  height: 8px;
  /*通过定位将图标放在合适的位置*/
  position: absolute;
  right: 20px;
  top: 41%;
  /*给自定义的图标实现点击下来功能*/
  pointer-events: none;
}
.radius select:focus { outline: none; }
