.radius{
  border: 2px solid #0C85E2;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  height: 70px;
  width:auto; /*display:inline-block !important; display:inline;*/
  background-color: #ffffff;
}
.cur_status_div{
  color: #0C85E2;font-size: 13px;text-align: center;height: 20px;line-height: 20px;padding: 10px;font-weight: bold
}
.duration-time-div{
  color: #0C85E2;font-size: 13px;width: 100%;text-align: center;height: 30px
}
.tphoneSmall{
  width: 74px;
  height: 74px;
  cursor: move; position: absolute; top: 200px;left: 20%;
  background: url(../images/circle.png);
}
.pull-left {
  float: left !important;
}
.phoneAction {
  margin-left: 11px;
  float: left;
  color: #4b9ef3;
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
}
.phoneAction em {
  width: 20px;
  height: 20px;
  /*margin-top: 22px;*/
  margin-left: 0px;
  float: left;
}
em, i，u {
  font-style: normal;
}
/* 监听 */
.listen-show em{
  /*  background: url(../images/phone_icon.png);
    background-position: -0px 425px;*/
  background: url(../images/phone_icon.png);
  background-position: 0px 630px;
}
/* 转接/咨询 */
.transfer_consult em{
  background: url(../images/phone_icon.png);
  background-position: 0px 530px;
}
/* 挂断 */
.btnReleaseCall em{
/* 外呼 background: url(../images/phone_icon.png);
  background-position: 0px 85px;*/
  background: url(../images/phone_icon.png);
  background-position: 0px 292px;
}
/* 挂断 */
.btnRejectCall em{
  /* 外呼 background: url(../images/phone_icon.png);
    background-position: 0px 85px;*/
  background: url(../images/phone_icon.png);
  background-position: 0px 120px;
}
.btnAnswerCall em{
  /* 外呼 background: url(../images/phone_icon.png);
    background-position: 0px 85px;*/
  background: url(../images/phone_icon.png);
  background-position: 0px 120px;
}
/* 保持 */
.btnHoldCall em{
  background: url(../images/phone_icon.png);
  background-position: 0px 325px;
}
/* 取回 */
.btnRetrieveCall em{
  background: url(../images/phone_icon.png);
  background-position: 0px 325px;
}
.btnMuteCall em{
  background: url(../images/phone_icon.png);
  background-position: 0px 52px;
}
.btnUnmuteCall em{
  background: url(../images/phone_icon.png);
  background-position: 0px 87px;
}
/* 转IVR */
.btnTransferIVR em{
/*  background: url(../images/phone_icon.png);
  background-position: 0px 289px;*/
  background: url(../images/phone_icon.png);
  background-position: 0px 495px;
}
/* 转满意度 */
.emotion em {
  background: url(../images/phone_icon.png);
  background-position: 0px 0px;
}
/* 处理结束 */
.handleOver em{
  background: url(../images/phone_icon.png);
  background-position: 0px 20px;
}
/* 呼叫 */
.btnMakeCall em{
  background:url(../images/phone_icon.png);
  background-position:-16px 443px;
}
/* 转移 */
.btnCompleteTransfer em{
  background: url(../images/phone_icon.png);
  background-position: 0px 565px;
}
/* 会议 */
.btnCompleteConference em{
/*  background: url(../images/phone_icon.png);
  background-position: 0px 392px;*/
  background: url(../images/phone_icon.png);
  background-position: -0px 598px;
}
/* 强插 */
.btnBargeIn em{
  background: url(../images/phone_icon.png);
  background-position: 0px 428px;
}
/* 强拆 */
.btnForceBreak em{
  background: url(../images/phone_icon.png);
  background-position: 0px 666px;
}
/* 强拆 */
.btnCancelMonitoring em{
  background: url(../images/phone_icon.png);
  background-position: 0px 292px;
}
/* 拦截 */
.btnIntercept em{
  background: url(../images/phone_icon.png);
  background-position: 0px 700px;
}
.notready em{
  background: url(../images/phone_icon.png);
  background-position: 0px 20px;
}
.login em{
  background: url(../images/phone_icon.png);
  background-position: 0px 156px;
}
.logout em{
  background: url(../images/phone_icon.png);
  background-position: 0px 121px;
}
.ready em{
  background: url(../images/phone_icon.png);
  background-position: 0px 224px;
}
.phoneAction span {
  height: 20px;
  float: left;
  margin-left: 5px;
  line-height: 20px;
  text-align: center;
}
.phoneAction span:hover{
  color:red;
  font-size: 18px;
}
.dialingNum{
  float: left;
  margin-left: 10px;
  border-radius: 10px;
  border:1px #c3c3c3 solid;
  width: 200px;
}
.dialingNum input{
  width: 150px;
  outline:none;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  color: #000000;
  cursor: pointer;
  height: 20px;
  float: left;
}

.dialingNum em{
  background: url(../images/phone_icon.png);
  background-position: 0px 255px;
  width: 20px;
  height: 20px;
  float: right;
  margin-right: 5px;
  margin-top: 5px;
  cursor: pointer;
}
.tphoneSmall em{
  background: url(../images/phone_icon.png);
  background-position: 0px 255px;
  width: 20px;
  height: 20px;
  float: right;
  margin-right: 5px;
  margin-top: 5px;
  cursor: pointer;
}
.dial-plate-text-div em{
  background: url(../images/delete.png);
  width: 18px;
  height: 16px;
  margin-right: 15px;
  margin-top: 8px;
  cursor: pointer;
}
.current_dnis em{
  background: url(../images/phone_icon1.png);
  background-position: -20px 800px;
  width: 25px;
  height: 30px;
  float: left;
  cursor: pointer;
  margin-right: 5px;
  margin-top: -5px;
}
.hide-tphone em{
  background: url(../images/hide_p.png);
  width: 16px;
  height: 16px;
  float: right;
  cursor: pointer;
}
.btnCalllist em{
  background: url(../images/calllist.png);
  width: 16px;
  height: 16px;
  float: right;
  cursor: pointer;
}

