.egooSettingPage{
  width: 553px;
  height: 360px;
  background: #FFFFFF;
  box-shadow: 0px 0px 8px 0px #C5C8CA;
  border-radius: 5px;
}

.egooSettingPage .labelTitle{
  width: 57px;
  height: 12px;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #909092;


  width: 37px;
  height: 12px;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #8F8F91;

}
.egooSettingPage ul{
  width: 100px;
  height: 33px;
  padding-inline-start: 18px !important;
}
.egooSettingPage ul li {
  list-style: none;
  cursor: pointer;
  width: 100px;
  height: 12px;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #909092;
}
.egooSettingPage ul.tab_but li.current {
  position: relative;
  border-bottom: 0;
  height: 20px;
  list-style: none;
  color: #909092;
  border-right:2px,;
  border-right-width: 2px;
  border-color:#127EF2;
  border-right:2px solid #127EF2
}
.egooSettingPage .settingContent{
  font-size: 13px;
  padding: 10px;
}
.egooSettingPage select{
  margin-left: 30px;
  width: 170px;
  height: 32px;
  background: #FFFFFF;
  border: 1px solid #E4E7EB;
  border-radius: 5px;
}
