@charset "utf-8";
/**---------------------------------------------------------
/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{ margin:0; padding:0;}
table{ border-collapse:collapse; border-spacing:0;}
fieldset,img{ border:0;}
address,caption,cite,code,dfn,em,strong,th,var,i{ font-style:normal; font-weight:normal;}
ol,ul{ list-style:none; padding:0;margin:0;}
caption,th{ text-align:left;}
h1,h2,h3,h4,h5,h6{ font-size:100%; font-weight:normal;}
q:before,q:after{ content:''}
abbr,acronym{ border:0;}
img {vertical-align:top;border:none 0;}
body {font-size:12px; text-align:left; font-family: "微软雅黑","Microsoft YaHei",Helvetica,"Helvetica Neue",Tahoma,Arial,sans-serif;}
html{ text-align:center;}
a,area { blr:expression(this.onFocus=this.blur()) } /* for IE7.0及以下版本*/ 
a:focus { outline-style: none; } /* for Firefox，IE8.0等 */
.clear {clear: both;font-size:0;width:0;height:0; visibility: hidden;}
html,body{
	height:100%;
}
/* header */
.panel_header{
    width: 100%;
	height: 80px;
    background-color: #2f3954;   
    position: relative; 
}
.panel_header h2{
    font-size: 20px;
    color: #ffffff;
    padding-left: 20px;
    line-height: 80px;
}
.panel_header .user_box{
    position: absolute;
    height: 80px;
    right: 20px;
    top: 0;
    line-height: 80px;
    color: #fff;
    font-size: 18px;
}
.panel_header .user_box a{
    color: #fff; 
}
.panel_header .user-item{
    text-decoration: none;
}
.panel_header .user-item img{
    display: inline-block;
    width: 42px;
    height: 42px;
    border-radius: 50%;  
    vertical-align: middle;
    margin-right: 5px;
    border: 1px solid #fff;
}
.panel_header .sp_line{
    padding: 0 20px 0 20px;
}
/* 主体 */
.panel_main{
    padding: 0 0 0 0;
    margin: 0 auto;
}
.panel_main_con {
    border-top: solid 0px #e4e5e6;
    border-left: solid 0px #e4e5e6;
    text-align: center;
    border-bottom: none;
}
.panel_main h3.panel_tit{
    font-size: 20px;
    color: #353e4a;
    padding-bottom: 20px;
}
.panel_main_con li{
    width: 271px;
    height: 252px;
    border-right:solid 1px #e4e5e6 ;
    border-bottom:solid 1px #e4e5e6 ;
    border-top:solid 1px #e4e5e6 ;
    border-left:solid 1px #e4e5e6 ;
    float: left;
    padding-top: 160px;
    margin-right:5px;
    margin-bottom:5px;
}
.panel_main_con li:nth-child(4n+4){
    border-right:none ;
}
.panel_main_con li.panel_lcgl{
    background: url(../../images/panel_lcgl.png) no-repeat center 63px;
}
.panel_main_con li.panel_lcgl:hover{
    background: #007af5 url(../../images/panel_lcgl_on.png) no-repeat center 63px;
    color:#ffffff
}
.panel_main_con li.panel_zsgl{
    background: url(../../images/panel_zsgl.png) no-repeat center 63px;
}
.panel_main_con li.panel_zsgl:hover{
    background: #007af5 url(../../images/panel_zsgl_on.png) no-repeat center 63px;
    color:#ffffff
}
.panel_main_con li.panel_pldd{
    background: url(../../images/panel_pldd.png) no-repeat center 63px;
}
.panel_main_con li.panel_pldd:hover{
    background: #007af5 url(../../images/panel_pldd_on.png) no-repeat center 63px;
    color:#ffffff
}
.panel_main_con li.panel_yybs{
    background: url(../../images/panel_yybs.png) no-repeat center 63px;
}
.panel_main_con li.panel_yybs:hover{
    background: #007af5 url(../../images/panel_yybs_on.png) no-repeat center 63px;
    color:#ffffff
}
.panel_main_con li.panel_zbqh{
    background: url(../../images/panel_zbqh.png) no-repeat center 63px;
}
.panel_main_con li.panel_zbqh:hover{
    background:#007af5  url(../../images/panel_zbqh_on.png) no-repeat center 63px;
    color:#ffffff
}
.panel_main_con li.panel_rczy{
    background: url(../../images/panel_rczy.png) no-repeat center 63px;
}
.panel_main_con li.panel_rczy:hover{
    background: #007af5 url(../../images/panel_rczy_on.png) no-repeat center 63px;
    color:#ffffff
}
.panel_main_con li.panel_yjcz{
    background: url(../../images/panel_yjcz.png) no-repeat center 63px;
}
.panel_main_con li.panel_yjcz:hover{
    background: #007af5 url(../../images/panel_yjcz_on.png) no-repeat center 63px;
    color:#ffffff
}
.panel_main_con li.panel_wlgl{
    background: url(../../images/panel_wlgl.png) no-repeat center 63px;
}
.panel_main_con li.panel_wlgl:hover{
    background: #007af5  url(../../images/panel_wlgl_on.png) no-repeat center 63px;
    color:#ffffff
}
.panel_main_con li a{
    color: #353e4a;
    font-size: 20px;
    
}
.panel_main_con li:hover a{
    color: #Fff;
    text-decoration: none;
}
.permissions_size{
	width:935px;
	height:443px;
	margin:0 auto;
	}

.permissions_img{
	background-image:url(../../images/permissions_img.png);
	width:388px;
	height:443px;
	float:left
	}
.permissions_text{
	float:left;
	color:#2f4050;
	margin-left:100px;
	padding-top:165px;
	box-sizing:border-box;
	}
.permissions_text h1{
	font-size:30px;
	}
.permissions_text h2{
	font-size:20px;
	font-weight:normal
	}



