<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.form.mapper.ButtonConfigInfoMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.form.domain.ButtonConfigInfo">
    <!--@mbg.generated-->
    <!--@Table button_config_info-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="button_name" jdbcType="VARCHAR" property="buttonName" />
    <result column="button_type" jdbcType="INTEGER" property="buttonType" />
    <result column="approve_enable" jdbcType="INTEGER" property="approveEnable" />
    <result column="approve_template" jdbcType="INTEGER" property="approveTemplate" />
    <result column="button_action_url" jdbcType="VARCHAR" property="buttonActionUrl" />
    <result column="biz_process_code" jdbcType="VARCHAR" property="bizProcessCode" />
    <result column="biz_process_activity_node_id" jdbcType="VARCHAR" property="bizProcessActivityNodeId" />
    <result column="condition_enable" jdbcType="INTEGER" property="conditionEnable" />
    <result column="condition_expression" jdbcType="VARCHAR" property="conditionExpression" />
    <result column="dynamic_approve_personal" jdbcType="INTEGER" property="dynamicApprovePersonal" />
    <result column="approve_personal_expression" jdbcType="VARCHAR" property="approvePersonalExpression" />
    <result column="process_complete_service_impl" jdbcType="VARCHAR" property="processCompleteServiceImpl" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, button_name, button_type, approve_enable, approve_template, button_action_url, 
    biz_process_code, biz_process_activity_node_id, condition_enable, condition_expression, 
    dynamic_approve_personal, approve_personal_expression, process_complete_service_impl,created_by, updated_by, created_time,
    updated_time
  </sql>
</mapper>