<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.form.mapper.DesignBizChangetaskMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.form.domain.DesignBizChangetask">
    <!--@mbg.generated-->
    <!--@Table design_biz_changetask-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="instance_id" jdbcType="VARCHAR" property="instanceId" />
    <result column="extra1" jdbcType="VARCHAR" property="extra1" />
    <result column="extra2" jdbcType="VARCHAR" property="extra2" />
    <result column="extra3" jdbcType="VARCHAR" property="extra3" />
    <result column="extra4" jdbcType="VARCHAR" property="extra4" />
    <result column="extra5" jdbcType="VARCHAR" property="extra5" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_by_name" jdbcType="VARCHAR" property="createdByName" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
    <result column="changeNo" jdbcType="VARCHAR" property="changeno" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="preApproval" jdbcType="VARCHAR" property="preapproval" />
    <result column="currentProcessor" jdbcType="VARCHAR" property="currentprocessor" />
    <result column="created_dept_name" jdbcType="VARCHAR" property="createdDeptName" />
    <result column="taskStatus" jdbcType="VARCHAR" property="taskstatus" />
    <result column="assignee" jdbcType="VARCHAR" property="assignee" />
    <result column="assignedGroup" jdbcType="VARCHAR" property="assignedgroup" />
    <result column="taskDept" jdbcType="VARCHAR" property="taskdept" />
    <result column="wantImplTime" jdbcType="VARCHAR" property="wantimpltime" />
    <result column="mergeFlag" jdbcType="INTEGER" property="mergeflag" />
    <result column="mergeTaskNo" jdbcType="VARCHAR" property="mergetaskno" />
    <result column="branchId" jdbcType="VARCHAR" property="branchid" />
    <result column="referSys" jdbcType="VARCHAR" property="refersys" />
    <result column="referBusinessCenterFlag" jdbcType="INTEGER" property="referbusinesscenterflag" />
    <result column="preTaskFlag" jdbcType="INTEGER" property="pretaskflag" />
    <result column="preTaskNo" jdbcType="VARCHAR" property="pretaskno" />
    <result column="deployWay" jdbcType="VARCHAR" property="deployway" />
    <!--<result column="taskContent" jdbcType="LONGVARCHAR" property="taskcontent" />-->
    <result column="backupStep" jdbcType="LONGVARCHAR" property="backupstep" />
    <result column="operateStep" jdbcType="LONGVARCHAR" property="operatestep" />
    <result column="verificationStep" jdbcType="LONGVARCHAR" property="verificationstep" />
    <result column="returnStep" jdbcType="LONGVARCHAR" property="returnstep" />
    <result column="infRange" jdbcType="LONGVARCHAR" property="infrange" />
    <result column="planStartDate" jdbcType="VARCHAR" property="planstartdate" />
    <result column="planOverDate" jdbcType="VARCHAR" property="planoverdate" />
    <result column="planDescription" jdbcType="LONGVARCHAR" property="plandescription" />
    <result column="scheduleDate" jdbcType="VARCHAR" property="scheduledate" />
    <result column="scheduleMan" jdbcType="VARCHAR" property="scheduleman" />
    <result column="triggerMode" jdbcType="VARCHAR" property="triggermode" />
    <result column="autoTrigger" jdbcType="VARCHAR" property="autotrigger" />
    <result column="autoVerifier" jdbcType="VARCHAR" property="autoverifier" />
    <result column="shieldFlag" jdbcType="INTEGER" property="shieldflag" />
    <result column="fortressMachineFlag" jdbcType="INTEGER" property="fortressmachineflag" />
    <result column="fortressMachineIP" jdbcType="VARCHAR" property="fortressmachineip" />
    <result column="fortressMachineUser" jdbcType="VARCHAR" property="fortressmachineuser" />
    <result column="implReceivedDate" jdbcType="VARCHAR" property="implreceiveddate" />
    <result column="implOverDate" jdbcType="VARCHAR" property="imploverdate" />
    <result column="implStartDate" jdbcType="VARCHAR" property="implstartdate" />
    <result column="implEndDate" jdbcType="VARCHAR" property="implenddate" />
    <result column="autoTaskFlag" jdbcType="VARCHAR" property="autotaskflag" />
    <result column="checkMan" jdbcType="VARCHAR" property="checkman" />
    <result column="implResultCheck" jdbcType="VARCHAR" property="implresultcheck" />
    <result column="changeId" jdbcType="VARCHAR" property="changeid" />
    <result column="approval" jdbcType="VARCHAR" property="approval" />
    <result column="remedyFlag" jdbcType="INTEGER" property="remedyflag" />
    <result column="reviewed" jdbcType="INTEGER" property="reviewed" />
    <result column="taskName" jdbcType="VARCHAR" property="taskname" />
    <result column="preApprovalBackFlag" jdbcType="INTEGER" property="preapprovalbackflag" />
    <result column="lockFlag" jdbcType="INTEGER" property="lockflag" />
    <result column="backToApprovalFlag" jdbcType="INTEGER" property="backtoapprovalflag" />
    <result column="changeTaskVerification" jdbcType="LONGVARCHAR" property="changetaskverification" />
    <result column="sequence" jdbcType="BIGINT" property="sequence" />
    <result column="enclosureUploadFile" jdbcType="LONGVARCHAR" property="enclosureuploadfile" />
    <result column="implRecord" jdbcType="LONGVARCHAR" property="implrecord" />
    <result column="changeTaskNo" jdbcType="VARCHAR" property="changetaskno" />
    <result column="auto_scene_type" jdbcType="VARCHAR" property="autoSceneType" />
    <result column="refer_token_app" jdbcType="VARCHAR" property="referTokenApp" />
    <result column="remedyReason" jdbcType="VARCHAR" property="remedyreason" />
    <result column="impl_man" jdbcType="VARCHAR" property="implMan" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, instance_id, extra1, extra2, extra3, extra4, extra5, `status`, created_time, 
    created_by, created_by_name, updated_time, updated_by, changeNo, `type`, content, 
    preApproval, currentProcessor, created_dept_name, taskStatus, assignee, assignedGroup, 
    taskDept, wantImplTime, mergeFlag, shieldFlag,mergeTaskNo, branchId, referSys, referBusinessCenterFlag,
    preTaskFlag, preTaskNo, deployWay, backupStep, operateStep, verificationStep,
    returnStep, infRange, planStartDate, planOverDate, planDescription, scheduleDate, 
    scheduleMan, triggerMode, autoTrigger, autoVerifier, fortressMachineFlag, fortressMachineIP, fortressMachineUser,
    implReceivedDate, implOverDate, implStartDate, implEndDate, autoTaskFlag, checkMan, 
    implResultCheck, changeId, approval, remedyFlag, reviewed, taskName, preApprovalBackFlag, 
    lockFlag, backToApprovalFlag, changeTaskVerification, `sequence`, enclosureUploadFile, 
    implRecord, changeTaskNo, auto_scene_type,  refer_token_app, remedyReason,impl_man
  </sql>
</mapper>