<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.form.mapper.DesignBizProblemMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.form.domain.DesignBizProblem">
    <!--@mbg.generated-->
    <!--@Table design_biz_problem-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="instance_id" jdbcType="VARCHAR" property="instanceId" />
    <result column="extra1" jdbcType="VARCHAR" property="extra1" />
    <result column="extra2" jdbcType="VARCHAR" property="extra2" />
    <result column="extra3" jdbcType="VARCHAR" property="extra3" />
    <result column="extra4" jdbcType="VARCHAR" property="extra4" />
    <result column="extra5" jdbcType="VARCHAR" property="extra5" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
    <result column="problem_title" jdbcType="VARCHAR" property="problemTitle" />
    <result column="originator_id" jdbcType="VARCHAR" property="originatorId" />
    <result column="plan_complete_time" jdbcType="VARCHAR" property="planCompleteTime" />
    <result column="ori_dep_id" jdbcType="VARCHAR" property="oriDepId" />
    <result column="ori_dep_manager_id" jdbcType="VARCHAR" property="oriDepManagerId" />
    <result column="problem_created_time" jdbcType="VARCHAR" property="problemCreatedTime" />
    <result column="problem_description" jdbcType="LONGVARCHAR" property="problemDescription" />
    <result column="temp_solutions" jdbcType="LONGVARCHAR" property="tempSolutions" />
    <result column="problem_category" jdbcType="VARCHAR" property="problemCategory" />
    <result column="system_id" jdbcType="VARCHAR" property="systemId" />
    <result column="problem_source" jdbcType="VARCHAR" property="problemSource" />
    <result column="problem_subclz" jdbcType="VARCHAR" property="problemSubclz" />
    <result column="risk_level" jdbcType="VARCHAR" property="riskLevel" />
    <result column="problem_type" jdbcType="VARCHAR" property="problemType" />
    <result column="problem_entry" jdbcType="VARCHAR" property="problemEntry" />
    <result column="frequency" jdbcType="VARCHAR" property="frequency" />
    <result column="stage" jdbcType="VARCHAR" property="stage" />
    <result column="problem_subentry1" jdbcType="VARCHAR" property="problemSubentry1" />
    <result column="problem_subentry2" jdbcType="VARCHAR" property="problemSubentry2" />
    <result column="priority" jdbcType="VARCHAR" property="priority" />
    <result column="interrupt_flag" jdbcType="VARCHAR" property="interruptFlag" />
    <result column="for_error" jdbcType="VARCHAR" property="forError" />
    <result column="solver_dep_id" jdbcType="VARCHAR" property="solverDepId" />
    <result column="cause_clz1" jdbcType="VARCHAR" property="causeClz1" />
    <result column="current_deal_id" jdbcType="VARCHAR" property="currentDealId" />
    <result column="auditor_id" jdbcType="VARCHAR" property="auditorId" />
    <result column="cause_clz2" jdbcType="VARCHAR" property="causeClz2" />
    <result column="manager_id" jdbcType="VARCHAR" property="managerId" />
    <result column="solver_id" jdbcType="VARCHAR" property="solverId" />
    <result column="cause_summary" jdbcType="LONGVARCHAR" property="causeSummary" />
    <result column="solution_summary" jdbcType="LONGVARCHAR" property="solutionSummary" />
    <result column="resolution_completion" jdbcType="LONGVARCHAR" property="resolutionCompletion" />
    <result column="file" jdbcType="VARCHAR" property="file" />
    <result column="submit_time" jdbcType="VARCHAR" property="submitTime" />
    <result column="problem_update_time" jdbcType="VARCHAR" property="problemUpdateTime" />
    <result column="submit_solution_time" jdbcType="VARCHAR" property="submitSolutionTime" />
    <result column="solution_modify_num" jdbcType="INTEGER" property="solutionModifyNum" />
    <result column="plan_complete_time_modify_num" jdbcType="INTEGER" property="planCompleteTimeModifyNum" />
    <result column="problem_reopen_num" jdbcType="INTEGER" property="problemReopenNum" />
    <result column="solver_clear_time" jdbcType="VARCHAR" property="solverClearTime" />
    <result column="org_id" jdbcType="VARCHAR" property="orgId" />
    <result column="solve_time" jdbcType="VARCHAR" property="solveTime" />
    <result column="solver_last_updated" jdbcType="VARCHAR" property="solverLastUpdated" />
    <result column="observe_time" jdbcType="VARCHAR" property="observeTime" />
    <result column="close_time" jdbcType="VARCHAR" property="closeTime" />
    <result column="cancel_note" jdbcType="LONGVARCHAR" property="cancelNote" />
    <result column="cancel_reason" jdbcType="VARCHAR" property="cancelReason" />
    <result column="close_type" jdbcType="VARCHAR" property="closeType" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, instance_id, extra1, extra2, extra3, extra4, extra5, `status`, created_time, 
    created_by, updated_time, updated_by, problem_title, originator_id, plan_complete_time, 
    ori_dep_id, ori_dep_manager_id, problem_created_time, problem_description, temp_solutions, 
    problem_category, system_id, problem_source, problem_subclz, risk_level, problem_type, 
    problem_entry, frequency, stage, problem_subentry1, problem_subentry2, priority, 
    interrupt_flag, for_error, solver_dep_id, cause_clz1, current_deal_id, auditor_id, 
    cause_clz2, manager_id, solver_id, cause_summary, solution_summary, resolution_completion, 
    `file`, submit_time, problem_update_time, submit_solution_time, solution_modify_num, 
    plan_complete_time_modify_num, problem_reopen_num, solver_clear_time, org_id, solve_time, 
    solver_last_updated, observe_time, close_time, cancel_note, cancel_reason, close_type
  </sql>
</mapper>