<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.form.mapper.DesignBizChangeMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.form.domain.DesignBizChange">
    <!--@mbg.generated-->
    <!--@Table design_biz_change-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="instance_id" jdbcType="VARCHAR" property="instanceId" />
    <result column="extra1" jdbcType="VARCHAR" property="extra1" />
    <result column="extra2" jdbcType="VARCHAR" property="extra2" />
    <result column="extra3" jdbcType="VARCHAR" property="extra3" />
    <result column="extra4" jdbcType="VARCHAR" property="extra4" />
    <result column="extra5" jdbcType="VARCHAR" property="extra5" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
    <result column="title" jdbcType="LONGVARCHAR" property="title" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
    <result column="verification" jdbcType="LONGVARCHAR" property="verification" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="basisType" jdbcType="VARCHAR" property="basistype" />
    <result column="basis" jdbcType="LONGVARCHAR" property="basis" />
    <result column="currentProcessor" jdbcType="VARCHAR" property="currentprocessor" />
    <result column="changeStatus" jdbcType="VARCHAR" property="changestatus" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="urgentReason" jdbcType="VARCHAR" property="urgentreason" />
    <result column="riskLevel" jdbcType="VARCHAR" property="risklevel" />
    <result column="currentRiskLevel" jdbcType="VARCHAR" property="currentrisklevel" />
    <result column="referApp" jdbcType="LONGVARCHAR" property="referapp" />
    <result column="startDept" jdbcType="VARCHAR" property="startdept" />
    <result column="startDeptLeader" jdbcType="VARCHAR" property="startdeptleader" />
    <result column="starter" jdbcType="VARCHAR" property="starter" />
    <result column="starterTel" jdbcType="VARCHAR" property="startertel" />
    <result column="appVersion" jdbcType="VARCHAR" property="appversion" />
    <result column="closedCode" jdbcType="VARCHAR" property="closedcode" />
    <result column="failReason" jdbcType="LONGVARCHAR" property="failreason" />
    <result column="supplyProcess" jdbcType="INTEGER" property="supplyprocess" />
    <result column="completion" jdbcType="VARCHAR" property="completion" />
    <result column="planStartDate" jdbcType="VARCHAR" property="planstartdate" />
    <result column="planCompleteDate" jdbcType="VARCHAR" property="plancompletedate" />
    <result column="plan" jdbcType="LONGVARCHAR" property="plan" />
    <result column="submitDate" jdbcType="VARCHAR" property="submitdate" />
    <result column="dateOfSubmitOnTime" jdbcType="VARCHAR" property="dateofsubmitontime" />
    <result column="implementTakeDate" jdbcType="VARCHAR" property="implementtakedate" />
    <result column="implementStartDate" jdbcType="VARCHAR" property="implementstartdate" />
    <result column="implementOverDate" jdbcType="VARCHAR" property="implementoverdate" />
    <result column="implementStatementDate" jdbcType="VARCHAR" property="implementstatementdate" />
    <result column="ontime" jdbcType="VARCHAR" property="ontime" />
    <result column="approvalSubmitDate" jdbcType="VARCHAR" property="approvalsubmitdate" />
    <result column="approval" jdbcType="VARCHAR" property="approval" />
    <result column="changeLevel" jdbcType="VARCHAR" property="changelevel" />
    <result column="urgentFlag" jdbcType="INTEGER" property="urgentflag" />
    <result column="branchFlag" jdbcType="INTEGER" property="branchflag" />
    <result column="sequence" jdbcType="VARCHAR" property="sequence" />
    <result column="uploadFile" jdbcType="LONGVARCHAR" property="uploadfile" />
    <result column="incident_relation_flag" jdbcType="INTEGER" property="incidentRelationFlag" />
    <result column="incident_no" jdbcType="VARCHAR" property="incidentNo" />
    <result column="pre_recode" jdbcType="INTEGER" property="preRecode" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, instance_id, extra1, extra2, extra3, extra4, extra5, `status`, created_time, 
    created_by, updated_time, updated_by, title, description, verification, `type`, basisType, 
    basis, currentProcessor, changeStatus, reason, urgentReason, riskLevel, currentRiskLevel, 
    referApp, startDept, startDeptLeader, starter, starterTel, appVersion, closedCode, 
    failReason, supplyProcess, `completion`, planStartDate, planCompleteDate, `plan`, 
    submitDate, dateOfSubmitOnTime, implementTakeDate, implementStartDate, implementOverDate, 
    implementStatementDate, ontime, approvalSubmitDate, approval, changeLevel, urgentFlag, 
    branchFlag, `sequence`, uploadFile, incident_relation_flag, incident_no, pre_recode
  </sql>
</mapper>