<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.form.mapper.DesignBizProblemTaskNewMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.form.domain.DesignBizProblemTaskNew">
    <!--@mbg.generated-->
    <!--@Table design_biz_problem_task_new-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="instance_id" jdbcType="VARCHAR" property="instanceId" />
    <result column="extra1" jdbcType="VARCHAR" property="extra1" />
    <result column="extra2" jdbcType="VARCHAR" property="extra2" />
    <result column="extra3" jdbcType="VARCHAR" property="extra3" />
    <result column="extra4" jdbcType="VARCHAR" property="extra4" />
    <result column="extra5" jdbcType="VARCHAR" property="extra5" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
    <result column="problem_no" jdbcType="VARCHAR" property="problemNo" />
    <result column="stage" jdbcType="VARCHAR" property="stage" />
    <result column="current_handler_id" jdbcType="VARCHAR" property="currentHandlerId" />
    <result column="assistant_dept_id" jdbcType="VARCHAR" property="assistantDeptId" />
    <result column="problem_category" jdbcType="VARCHAR" property="problemCategory" />
    <result column="ori_dep_id" jdbcType="VARCHAR" property="oriDepId" />
    <result column="assistant_id" jdbcType="VARCHAR" property="assistantId" />
    <result column="problem_subclz" jdbcType="VARCHAR" property="problemSubclz" />
    <result column="originator_id" jdbcType="VARCHAR" property="originatorId" />
    <result column="problem_desc" jdbcType="VARCHAR" property="problemDesc" />
    <result column="problem_entry" jdbcType="VARCHAR" property="problemEntry" />
    <result column="plan_complete_time" jdbcType="VARCHAR" property="planCompleteTime" />
    <result column="problem_content" jdbcType="LONGVARCHAR" property="problemContent" />
    <result column="problem_sub_entry1" jdbcType="VARCHAR" property="problemSubEntry1" />
    <result column="handle_info" jdbcType="LONGVARCHAR" property="handleInfo" />
    <result column="risk_level" jdbcType="VARCHAR" property="riskLevel" />
    <result column="problem_sub_entry2" jdbcType="VARCHAR" property="problemSubEntry2" />
    <result column="frequency" jdbcType="VARCHAR" property="frequency" />
    <result column="pre_task_num" jdbcType="VARCHAR" property="preTaskNum" />
    <result column="file" jdbcType="VARCHAR" property="file" />
    <result column="task_created_time" jdbcType="VARCHAR" property="taskCreatedTime" />
    <result column="task_updated_time" jdbcType="VARCHAR" property="taskUpdatedTime" />
    <result column="apply_close_time" jdbcType="VARCHAR" property="applyCloseTime" />
    <result column="close_time" jdbcType="VARCHAR" property="closeTime" />
    <result column="close_reason" jdbcType="VARCHAR" property="closeReason" />
    <result column="assistant_update_time" jdbcType="VARCHAR" property="assistantUpdateTime" />
    <result column="reopen_num" jdbcType="INTEGER" property="reopenNum" />
    <result column="system_id" jdbcType="VARCHAR" property="systemId" />
  </resultMap>

  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, instance_id, extra1, extra2, extra3, extra4, extra5, `status`, created_time, 
    created_by, updated_time, updated_by, problem_no, stage, current_handler_id, assistant_dept_id, 
    problem_category, ori_dep_id, assistant_id, problem_subclz, originator_id, problem_desc, 
    problem_entry, plan_complete_time, problem_content, problem_sub_entry1, handle_info, 
    risk_level, problem_sub_entry2, frequency, pre_task_num, `file`, task_created_time, 
    task_updated_time, apply_close_time, close_time, close_reason, assistant_update_time, 
    reopen_num,system_id
  </sql>
</mapper>