<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.form.mapper.FieldActivityNodeMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.form.domain.FieldActivityNode">
    <!--@mbg.generated-->
    <!--@Table field_activity_node-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="field_name" jdbcType="VARCHAR" property="fieldName" />
    <result column="field_desc" jdbcType="VARCHAR" property="fieldDesc" />
    <result column="field_status" jdbcType="VARCHAR" property="fieldStatus" />
    <result column="activity_node_id" jdbcType="VARCHAR" property="activityNodeId" />
    <result column="form_version_id" jdbcType="BIGINT" property="formVersionId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, field_name, field_desc, field_status, activity_node_id, form_version_id
  </sql>
</mapper>