<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.form.mapper.FormAlertMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.form.domain.FormAlert">
    <id column="alert_id" jdbcType="INTEGER" property="alertId" />
    <result column="object" jdbcType="VARCHAR" property="object" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="severity" jdbcType="INTEGER" property="severity" />
    <result column="begin_time" jdbcType="INTEGER" property="beginTime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    alert_id,
	object,
	content,
	severity,
	begin_time,
	status
  </sql>
</mapper>