<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.form.mapper.FormStatusActivityNodeMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.form.domain.FormStatusActivityNode">
    <!--@mbg.generated-->
    <!--@Table form_status_activity_node-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="biz_status_name" jdbcType="VARCHAR" property="bizStatusName" />
    <result column="activity_node_id" jdbcType="VARCHAR" property="activityNodeId" />
    <result column="form_version_id" jdbcType="BIGINT" property="formVersionId" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, biz_status_name, activity_node_id, form_version_id, sort
  </sql>
</mapper>