<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.form.mapper.IncidentSubEventMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.form.domain.IncidentSubEvent">
    <!--@mbg.generated-->
    <!--@Table incident_sub_event-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="event_no" jdbcType="VARCHAR" property="eventNo" />
    <result column="submit_time" jdbcType="VARCHAR" property="submitTime" />
    <result column="solve_time" jdbcType="VARCHAR" property="solveTime" />
    <result column="solve_length" jdbcType="INTEGER" property="solveLength" />
    <result column="solve_person" jdbcType="VARCHAR" property="solvePerson" />
    <result column="solve_org" jdbcType="VARCHAR" property="solveOrg" />
    <result column="solve_group" jdbcType="VARCHAR" property="solveGroup" />
    <result column="close_time" jdbcType="VARCHAR" property="closeTime" />
    <result column="suspend_flag" jdbcType="VARCHAR" property="suspendFlag" />
    <result column="suspend_time" jdbcType="VARCHAR" property="suspendTime" />
    <result column="suspend_length" jdbcType="INTEGER" property="suspendLength" />
    <result column="urge_flag" jdbcType="VARCHAR" property="urgeFlag" />
    <result column="urge_time" jdbcType="VARCHAR" property="urgeTime" />
    <result column="service_back_falg" jdbcType="VARCHAR" property="serviceBackFalg" />
    <result column="add_msg_back_falg" jdbcType="VARCHAR" property="addMsgBackFalg" />
    <result column="cancel_falg" jdbcType="VARCHAR" property="cancelFalg" />
    <result column="cancel_time" jdbcType="VARCHAR" property="cancelTime" />
    <result column="back_completion_flag" jdbcType="VARCHAR" property="backCompletionFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, event_no, submit_time, solve_time, solve_length, solve_person, solve_org, solve_group, 
    close_time, suspend_flag, suspend_time, suspend_length, urge_flag, urge_time, service_back_falg, 
    add_msg_back_falg, cancel_falg, cancel_time, back_completion_flag
  </sql>
</mapper>