<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.form.mapper.OperationDetailsMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.form.domain.OperationDetails">
    <!--@mbg.generated-->
    <!--@Table operation_details-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="operation_type" jdbcType="VARCHAR" property="operationType" />
    <result column="biz_no" jdbcType="VARCHAR" property="bizNo" />
    <result column="old_value" jdbcType="VARCHAR" property="oldValue" />
    <result column="new_value" jdbcType="VARCHAR" property="newValue" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_name" jdbcType="VARCHAR" property="createdName" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, operation_type, biz_no, old_value, new_value, description, created_by, created_name, 
    created_time
  </sql>
</mapper>